img{
  object-fit: cover;
}
section {
  width: 98.9vw;
  height: 80vh;
  box-sizing: border-box;
  background-color: var(--color-gold);
  .carasole,
  ul,
  li,
  img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .explore_box {
    position: absolute;
    top: 100px;
    left: 80px;
    z-index: 999;
    p {
      font-family: var(--font2);
      margin: 0;
      font-size: 70px;
    }
    div {
      margin: 50px 0px;
      font-size: 22px;
      cursor: pointer;
      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  .offers {
    width: 100%;
    background-color: var(--color-gold);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 50px;
    flex-direction: column;
    .special_offer {
      border: 2px solid var(--color-dark);
      padding: 5px 10px;
      font-size: 20px;
      color: var(--color-dark);
    }
    p {
      margin: 0;
      font-size: 12px;
      color: var(--color-dark);
    }
  }
}

.sells {
  height: 80vh;
  .seller {
    width: 100%;
    height: 50%;
    position: relative;
    ul,
    li {
      width: 100%;
      height: 100%;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  .box {
    position: absolute;
    top: 50px;
    right: 300px;
    p {
      font-family: var(--font);
      margin: 0;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      margin: 10px;
    }
    b {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .arrrival {
    top: 80px;
    right: 100px;
    color: var(--color-secondary);
    p {
      font-family: var(--font);
      margin: 0;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      margin: 10px;
    }
  }
}
#shop_by_metals {
  height: fit-content;
  background-color: var(--color-light);
  width: 98.9vw;
  box-sizing: border-box;
  p {
    color: var(--color-tertiary);
    font-size: 35px;
    text-align: center;
    padding: 40px;
    font-weight: 400;
  }
  .container {
    width: 100%;
    height: fit-content;
    background-color: var(--color-gold-light);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    .boxes {
      width: 40%;
      height: 300px;
    margin:10px 0px ;
    cursor: pointer;
    &:hover{
        transform: scale(1.02);
    }
      .box {
        width: 95%;
        height: 80%;
        margin: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary-light);
        box-shadow: var(--color-secondary) 0px 1px 4px;
        img {
          height: 200px;
          width: 200px;
        }
      }
      button {
        width: 95%;
        height: 15%;
        margin: 10px;
        background-color: var(--color-secondary);
        border: none;
        border-radius: 8px;
        color: var(--color-light);
        font-size: 18px;
        &:hover{
            transform: scale(1.02);
        }
      }
    }
  }
}
.engagement_rings{
    padding: 30px 0px;
    box-sizing: border-box;
    background-color: var(--color-gold-light);
    .ring{
        font-size: 25px;
        background-image: linear-gradient( to right,var(--color-gold),var(--color-gold-light));
        padding: 10px;
        width: 300px;
    }
    
  .explore_box {
    position: absolute;
    bottom: 100px;
    right: 80px;
  
  }
}
.blog{
    margin: 30px 0px;
    height: 100vh;
    background-color: var(--color-light);
    .blog_text{
        font-size: 50px;
        color: var(--color-tertiary);
        text-align: center;
        font-weight: 600;
        margin: 0px;
    }
    .cards{
        width: 90%;
        height: fit-content;
     display: flex;
     align-items: center;
     justify-content: space-around;
        margin: auto;
        display: flex;
        .card{
            width: 20%;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            img{
                height: 550px;
                width: 100%;
                border-radius: 12px;
            }
            b{
                color: var(--color-dark);
                font-size: 20px;
                font-weight: 600;
                margin: 0;
            }
            p{
                margin: 0;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
}
footer{
    background-color: var(--color-secondary);
    .contact{

  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    color: var(--color-light);
    border-bottom: 2px solid var(--color-primary-light);
    .email{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content:center ;
        svg{
            height: 35px;
            width: 35px;
        }
    }
    .subscribe{
        display: flex;
        align-items: center;
        justify-content: center;
    
        gap: 30px;
        input{
            width: 300px;
            height: 35px;
            outline: none;
            border: none;
            border-radius: 8px;
        }
        button{
            width: 100px;
            height: 35px;
            border: none;
            background-color: var(--color-light);
            border-radius: 8px;
            color: var(--color-secondary);
            font-size: 15px;
        }
    }
}
.nayasa_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    color: var(--color-light);
    .sosial{
        display: flex;
        flex-direction: column;
        gap: 20px;
        b{
            font-size: 25px;
          
        }
    
    .apps{
        display: flex;
        gap: 20px;
        img{
            height: 35px;
            width: 35px;
        }
    }
   
}
}
}