<div id="explore_conatiner">
  <div class="uk-margin search_container">
    <form class="uk-search uk-search-default">
      <a href="" uk-search-icon></a>
      <input class="uk-search-input" type="search" placeholder="Search" />
    </form>
  </div>

  <!-- <div class="explore">
    <div class="box" routerLink="../all-product">
      <i class="ri-fire-line"></i>
      <b>Trending</b>
    </div>
    <div class="box" routerLink="../all-product">
      <img src="../../../assets//rings.svg" alt="" />
      <b>Rings</b>
    </div>
    <div class="box" routerLink="../all-product">
      <img src="../../../assets/earings.svg" alt="" />
      <b>Ear Rings</b>
    </div>
    <div class="box" routerLink="../all-product">
      <img src="../../../assets/pendent.svg" alt="" />
      <b>Pendent</b>
    </div>
    <div class="box" routerLink="../all-product">
      <i class="ri-fire-line"></i>
      <b>Trending</b>
    </div>
    <div class="box" routerLink="../all-product">
      <img src="../../../assets//rings.svg" alt="" />
      <b>Rings</b>
    </div>
    <div class="box" routerLink="../all-product">
      <img src="../../../assets/earings.svg" alt="" />
      <b>Ear Rings</b>
    </div>
    <div class="box" routerLink="../all-product">
      <img src="../../../assets/pendent.svg" alt="" />
      <b>Pendent</b>
    </div>
  </div> -->
</div>
<div class="subscription">
  <img src="../../../assets/subscription.svg" alt="" />
</div>
<section id="first-section">
  <div uk-slider="finite: false; autoplay:true; autoplay-interval: 3000">
    <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@">
      <li>
        <img src="/assets/bgbgbg.jpg" alt="" />
      </li>
      <li>
        <img src="/assets/bgbg.jpg" alt="" />
      </li>
    </ul>
  </div>
  <div id="first-text">
    <h2>We Make Jewellery to Fit Every Budget, Occasion, and Taste.</h2>
    <p>Find your sparkle in every moment, today.</p>
    <button class="primary-button" routerLink="../all-product">
      Explore Collection
    </button>
  </div>
</section>

<section id="items-section">
  <div class="img"><img src="assets/jew1.png"></div>
  <div class="img"><img src="assets/jew2.png"></div>
  <div class="img"><img src="assets/jew3.png"></div>
  <div class="img"><img src="assets/jew4.png"></div>
  <div class="img"><img src="assets/jew5.png"></div>
  <div class="img"><img src="assets/jew6.png"></div>
</section>

<section id="discount-section" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
  <div class="data">
    <p>
      FLAT 25% OFF ON MAKING CHARGES*
    </p>
    <p id="t-and-c" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      * Terms & Conditions Applied
    </p>
    <button routerLink="../all-product">
      Explore Now
    </button>
  </div>
  <div class="img">
    <img src="assets/hand-ornament.png" alt="">
  </div>
</section>
<!-- <section id="product-section">
  <div uk-slider="finite: false; autoplay:true; autoplay-interval: 3000"
    uk-scrollspy="cls:uk-animation-scale-up">
    <ul
      class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-light">
      <li class="uk-transition-toggle" tabindex="0">
        <img src="assets/carsole2.png" width="400" height="600" alt="" />
      </li>
      <li class="uk-transition-toggle" tabindex="0">
        <img src="assets/carsole2.png" width="400" height="600" alt="" />
      </li>
      <li class="uk-transition-toggle" tabindex="0">
        <img src="assets/carsole2.png" width="400" height="600" alt="" />
      </li>
    </ul>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin navigation"></ul>
  </div>
  <div uk-slider="finite: false; autoplay:true; autoplay-interval: 3000">
    <ul
      class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-light">
      <li class="uk-transition-toggle" tabindex="0">
        <img src="assets/carasole3.png" width="400" height="600" alt="" />
      </li>
      <li class="uk-transition-toggle" tabindex="0">
        <img src="assets/carasole3.png" width="400" height="600" alt="" />
      </li>
      <li class="uk-transition-toggle" tabindex="0">
        <img src="assets/carasole3.png" width="400" height="600" alt="" />
      </li>
    </ul>
    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin navigation" style="color: white">
    </ul>
  </div>
</section> -->

<img src="assets/new-jew.svg" alt="">

<section id="shop-by-metals">
  <div class="shop-head">
    <img src="assets/left.png">
    <h3>Popular Collection</h3>
    <img src="assets/right.png">
  </div>
  <div id="metals">
    <app-metal-widget uk-scrollspy="cls: uk-animation-slide-left; repeat: true" src="../../../assets/jewel3.png"
      name="Platinum Jewellery"></app-metal-widget>
    <app-metal-widget src="../../../assets/jewel4.png" name="Silver Jewellery"
      uk-scrollspy="cls: uk-animation-slide-left; repeat: true"></app-metal-widget>
    <app-metal-widget src="../../../assets/jewel1.png" name="Platinum Jewellery"
      uk-scrollspy="cls: uk-animation-slide-right; repeat: true"></app-metal-widget>
    <app-metal-widget src="../../../assets/jewel2.png" name="Diamond Jewellery"
      uk-scrollspy="cls: uk-animation-slide-right; repeat: true"></app-metal-widget>
  </div>
</section>

<!-- <section id="trendings">
  <div class="shop-head">
    <img src="assets/left.png">
    <h3>Trending Jewellery</h3>
    <img src="assets/right.png">
  </div>
  <div class="images">
    <div class="image" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <img src="../../../assets/trending1.png" alt="trending-1" />
      <p uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
        Modern
        <br />
        MANGALSUTRA
      </p>
    </div>
    <div class="image" uk-scrollspy="cls: uk-animation-slide-right; repeat: true"
      style="width: 55%">
      <img src="/assets/eg-img.jpg" alt="trending-2" />
      <p uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        Engagement Rings
      </p>
    </div>
    <div class="image" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true"
      style="width: 55%">
      <img src="../../../assets/trending1.png" alt="trending-3" />
      <p uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        Engagement Rings
      </p>
    </div>
  </div>
  <div class="image2">
    <img src="assets/jew-org.png" alt="">
  </div>
</section> -->

<section id="trendings">
  <div class="shop-head">
    <img src="assets/left.png">
    <h3>Trending Jewellery</h3>
    <img src="assets/right.png">
  </div>

  <div class="images">
    <div class="image">
      <img src="assets/trending1.png" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <p uk-scrollspy="cls: uk-animation-slide-left; repeat: true">Modern Mangalsutra</p>
    </div>

    <div class="image">
      <img src="assets/just-arrived.png" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true" style="    transform: translateY(-100px);">
      <p uk-scrollspy="cls: uk-animation-slide-top; repeat: true" style="bottom: 8rem;">Engagement Rings</p>
    </div>

    <div class="image">
      <img src="assets/trending1.png" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <p uk-scrollspy="cls: uk-animation-slide-right; repeat: true">Modern EarRings</p>
    </div>
  </div>

  <div class="btn">View All Collections</div>

</section>

<div class="image2">
  <img src="assets/jew-org.png" alt="">
</div>

<section id="history">
  <h1>Based on your History</h1>

  <div uk-slider="finite: false; autoplay:true; autoplay-interval: 1500">
    <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@">
      <li>
        <img src="/assets/history/ring1.png" alt="" />
        <span>
          <h2>Modern Jwellery</h2>
          <p>Engagement Rings</p>
          <nav>Kinberly Linear Diamond Hoop Piece</nav>
        </span>
      </li>
      <li>
        <img src="/assets/history/ring2.png" alt="" />
        <span>
          <h2>₹20,586 <s>₹24,156</s></h2>
          <p>Engagement Rings</p>
          <nav>Kinberly Linear Diamond Hoop Piece</nav>
        </span>
      </li>
      <li>
        <img src="/assets/history/ring3.png" alt="" />
        <span>
          <h2>₹20,586 <s>₹24,156</s></h2>

          <p>Engagement Rings</p>
          <nav>Kinberly Linear Diamond Hoop Piece</nav>
        </span>
      </li>
      <li>
        <img src="/assets/history/ring4.png" alt="" />
        <span>
          <h2>₹20,586 <s>₹24,156</s></h2>
          <p>Engagement Rings</p>
          <nav>Kinberly Linear Diamond Hoop Piece</nav>
        </span>
      </li>
      <li>
        <img src="/assets/history/ring5.png" alt="" />
        <span>
          <h2>₹20,586 <s>₹24,156</s></h2>
          <p>Engagement Rings</p>
          <nav>Kinberly Linear Diamond Hoop Piece</nav>
        </span>
      </li>
      <li>
        <img src="/assets/history/ring1.png" alt="" />
        <span>
          <h2>₹20,586 <s>₹24,156</s></h2>
          <p>Engagement Rings</p>
          <nav>Kinberly Linear Diamond Hoop Piece</nav>
        </span>
      </li>
      <li>
        <img src="/assets/history/ring2.png" alt="" />
        <span>
          <h2>₹20,586 <s>₹24,156</s></h2>
          <p>Engagement Rings</p>
          <nav>Kinberly Linear Diamond Hoop Piece</nav>
        </span>
      </li>
      <li>
        <img src="/assets/history/ring3.png" alt="" />
        <span>
          <h2>₹20,586 <s>₹24,156</s></h2>
          <p>Engagement Rings</p>
          <nav>Kinberly Linear Diamond Hoop Piece</nav>
        </span>
      </li>
    </ul>
  </div>

</section>

<section id="blog">
  <div class="content"><img src="assets/content.png" alt=""></div>
  <div class="customer_review">
    <div class="customer" style="width: 30%; padding-left: 10rem"
      uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <span uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        Words <b style="font-size: var(--large)">From</b> <br />
        Customers
      </span>
    </div>
    <div class="review" style="width: 55%">
      <div class="quote"><i class="ri-double-quotes-l"></i></div>
      <span uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        “I just wanted to say that I am very pleased with the ring. I am waiting to give it to my daughter for their
        ring ceremony so she hasn't seen it, but I know that she will be pleased also. It will be something she will be
        able to wear forever instead of a class ring that she may wear just a few times. Thanks again.”
        <p uk-scrollspy="cls: uk-animation-slide-right; repeat: true">-Amita singh</p>
      </span>
    </div>
  </div>
  <div class="about">
    <div class="person" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <img src="../../../assets/person.png" alt="" />
    </div>
    <div class="explore_us" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <h5>Modern Jewellery</h5>
      <p>Modern jewellery is a movement in jewellery design concepts that favours high personalisation and detachment of
        designing from its stature as a specialised job.</p>
      <button routerLink="../disclaimer">Read More</button>
    </div>
  </div>
</section>

<section id="similar-blog">
  <div class="similar-head">
    <img src="assets/left.png">
    <h3>Similar Blog</h3>
    <img src="assets/right.png">
  </div>

  <div class="gallery">
    <div>
      <img src="assets/jewelery.png" alt="">
      <nav>January 27, 2023</nav>
      <h3>Modern Jewellery</h3>
      <p>Modern jewellery is a movement in jewellery design concepts that favours high personalisation
        and detachment of designing from its stature as a specialised job.</p>
    </div>
    <div>
      <img src="assets/jewelery.png" alt="">
      <nav>January 27, 2023</nav>
      <h3>Modern Jewellery</h3>
      <p>Modern jewellery is a movement in jewellery design concepts that favours high personalisation
        and detachment of designing from its stature as a specialised job.</p>
    </div>
    <div>
      <img src="assets/jewelery.png" alt="">
      <nav>January 27, 2023</nav>
      <h3>Modern Jewellery</h3>
      <p>Modern jewellery is a movement in jewellery design concepts that favours high personalisation
        and detachment of designing from its stature as a specialised job.</p>
    </div>
  </div>
</section>

<section id="instagram">
  <div class="similar-head">
    <img src="assets/left.png">
    <h3>Instagram Wall</h3>
    <img src="assets/right.png">
  </div>

  <div class="grid">
    <img src="assets/grid.png" alt="">
  </div>
</section>

<section id="faq">
  <div class="similar-head">
    <img src="assets/left.png">
    <h3>Frequency Asked Questions</h3>
    <img src="assets/right.png">
  </div>

  <div class="expansion-panel">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          What is Modern Jewellery?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Contemporary jewellery is something that is made in the time, it is relevant and something that ‘belongs to the
        same or the present time’. So, basically, contemporary jewelry is something that is in trend in the present day.
        And it is a beautiful mixture of jewelry and art.

        Along with adorning the body and outfit, this jewelry is also worn as a way to express individual talent,
        influences, and contemporary culture.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          What is Contemporary Jewellery?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Contemporary jewellery is something that is made in the time, it is relevant and something that ‘belongs to the
        same or the present time’. So, basically, contemporary jewelry is something that is in trend in the present day.
        And it is a beautiful mixture of jewelry and art.

        Along with adorning the body and outfit, this jewelry is also worn as a way to express individual talent,
        influences, and contemporary culture.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Difference between Modern Jewellery vs Contemporary Jwellery?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Contemporary jewellery is something that is made in the time, it is relevant and something that ‘belongs to the
        same or the present time’. So, basically, contemporary jewelry is something that is in trend in the present day.
        And it is a beautiful mixture of jewelry and art.

        Along with adorning the body and outfit, this jewelry is also worn as a way to express individual talent,
        influences, and contemporary culture.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can I pay online payment when the parcel arrive?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Contemporary jewellery is something that is made in the time, it is relevant and something that ‘belongs to the
        same or the present time’. So, basically, contemporary jewelry is something that is in trend in the present day.
        And it is a beautiful mixture of jewelry and art.

        Along with adorning the body and outfit, this jewelry is also worn as a way to express individual talent,
        influences, and contemporary culture.
      </p>
    </mat-expansion-panel>
  </div>
</section>

<app-footer style="display: block;width: 100%;" uk-scrollspy="cls:uk-animation-scale-up"></app-footer>

<!-- <div class="blog">
  <div class="blog-card" data-aos-delay="300" uk-scrollspy="cls:uk-animation-slide-bottom">
    <img src="assets/blog1.png" alt="" />
    <p
      class="bold"
      style="margin-top: 10px; font-size: 20px; margin-bottom: 10px"
    >
      Capture Charm Bracelet
    </p>
    <p>
      Bracelet of ancient style infused with stories across frpm the land of
      Bharat. Style mixed with the thrilling tales of this great land.
    </p>
  </div>
  <div class="blog-card" data-aos="fade-down"  uk-scrollspy="cls:uk-animation-slide-top">
    <p class="blog_text">The Blog</p>
    <img src="assets/blog2.png" alt="" />
    <p
      class="bold"
      style="margin-top: 10px; font-size: 20px; margin-bottom: 10px"
    >
      Capture Charm Bracelet
    </p>
    <p style="margin-bottom: 15px">
      Bracelet of ancient style infused with stories across frpm the land of
      Bharat. Style mixed with the thrilling tales of this great land.
    </p>
  </div>
  <div class="blog-card">
    <img
      src="assets/blog3.png"
      data-aos="fade-right"
      data-aos-delay="500"
      alt=""
    />
    <p
      class="bold"
      style="margin-top: 10px; font-size: 20px; margin-bottom: 10px"
    >
      Capture Charm Bracelet
    </p>
    <p>
      Bracelet of ancient style infused with stories across frpm the land of
      Bharat. Style mixed with the thrilling tales of this great land.
    </p>
  </div>
</div> -->