html,
body {
  background-color: var(--color-primary);
}

#explore_conatiner {
  display: none;

  @media (max-width: 600px) {
    display: block;
    margin-top: 1px;
    height: 23vh;
    width: 100%;
    background-color: var(--color-light-primary);

    .search_container {
      width: 95%;
      margin: auto;
      box-sizing: border-box;
      height: 27%;
      transform: translate(0, 20%);

      form {
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.44) 0px 2px 8px 0px;
        color: black;

        a {
          color: black;
          margin: 0 0.5rem;
        }

        input {
          width: 100%;
          height: 100%;
          border: none;
          margin-left: 0.5rem;
          color: black;
          border-radius: 0.5rem;
        }
      }
    }

    .explore {
      width: 100%;
      height: 70%;
      margin-top: 1rem;
      padding: 1rem;
      box-sizing: border-box;
      gap: 1rem;
      overflow-x: scroll;
      display: flex;

      .box {
        background-color: var(--color-secondary-light);
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        gap: 0.5rem;
        color: rgb(0, 0, 0);

        i {
          font-size: 1.5rem;
        }

        b {
          font-size: 0.7rem;
          width: 4.5rem;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }
}

.subscription {
  display: none;

  @media (max-width: 600px) {
    display: block;
    width: 100%;
    height: 12vh;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

#first-section {
  height: 90%;
  // background-color: var(--color-secondary);
  position: relative;

  .uk-slider {
    height: calc(100vh - 130px);
    width: 100%;
    ul {
      height: calc(100vh - 130px);
      width: 100%;

      li {
        height: calc(100vh - 130px);
        width: 100%;
        position: relative;
        background-color: white;
        padding: 0 1.4rem;

        img {
          border-radius: 0.5rem;
          height: calc(100vh - 130px);
          object-fit: cover;
          object-position: center;
          width: 100%;
        }
      }
    }
  }

  #first-text {
    position: absolute;
    top: 0px;
    left: 0;
    padding: 10em 7rem;
    z-index: 2;
    width: 42%;

    h2 {
      color: var(--color-light);
      mix-blend-mode: difference;
      margin: 0;
      font-family: var(--font-two);
      font-size: var(--xlarge);
      font-size: 3rem;
      line-height: 1.2;
      letter-spacing: 0.1rem;
    }

    p {
      color: var(--color-light);
      font-size: var(--medium);
      mix-blend-mode: difference;
      margin: 1.5em 0;
    }

    button {
      padding: 0.25em 1.75em;
    }
  }
}

#product-section {
  height: 80vh;
  min-height: 20vh;

  .uk-slider {
    height: 50%;
    width: 100%;

    .uk-slider-items {
      width: 100%;
      height: 100%;

      li {
        min-width: 400px;
        height: 100%;
        width: 100%;
        padding: 0 1.4rem;

        img {
          height: 100%;
          border-radius: 0.5rem;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .navigation {
    transform: translateY(-450%);
    color: white;
  }
}

#items-section {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10px 20px;

  .img {
    margin: 7px 10px;
  }
}

#discount-section {
  color: #BB6878;
  font-weight: bold;
  padding: 1em;
  text-align: left;
  font-size: var(--small);
  // border: 1px solid grey;
  display: flex;
  justify-content: space-between;

  .data {
    padding: 40px 0;
    font-size: 40px;

    button {
      background: #BB6878;
      padding: 0.5em 0.75em;
      font-size: var(--xsmall);
      margin-top: 0.5em;
      cursor: pointer;
      color: #ffff;
      border: none;
      outline: none;
    }

    #t-and-c {
      font-size: var(--xxsmall);
      text-align: left;
      margin-top: 10px;
    }
  }

  .img {
    margin: 0;
    padding: 0;

    img {
      height: 10em;
    }
  }
}

#shop-by-metals {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  // min-height: 80vh;
  height: fit-content;

  .shop-head {
    display: flex;
    justify-content: center;
    margin: 15px 0;

    h3 {
      font-size: var(--medium);
      text-align: center;
      font-size: var(--xlarge);
      font-family: var(--font-one);
      color: var(--color-tertiary);
      // margin: 3rem auto;
      margin: 0 10px;
      font-weight: 500;
    }

    img {
      height: 8px;
      margin: auto 0;
    }
  }

  #metals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: fit-content;
  }
}

// #trendings {
//   width: 95%;
//   min-height: 50rem;
//   margin: 2rem auto;
//   flex-wrap: wrap;
//   gap: 1.5rem;

//   .shop-head {
//     display: flex;
//     margin: 15px 0;
//     justify-content: center;
//     margin-bottom: 30px;

//     h3 {
//       font-size: var(--medium);
//       text-align: center;
//       font-size: var(--xlarge);
//       font-family: var(--font-one);
//       color: var(--color-tertiary);
//       margin: 0 10px;
//       font-weight: 500;
//     }

//      img {
//       height: 8px;
//       margin: auto 0;
//     }
//   }



//   .images {
//     display: flex;
//     height: 28rem;
//     height: fit-content;
//     width: 100%;
//     gap: 1rem;
//     flex-wrap: wrap;

//     .image {
//       min-width: 30%;
//       max-height: fit-content;
//       height: 100%;
//       position: relative;

//       img {
//         border-radius: 0.5rem;
//         height: 100%;
//         width: 60%;
//         object-fit: cover;
//       }
//     }

//     p {
//       position: absolute;
//       left: 4rem;
//       bottom: 1rem;
//       font-size: var(--large);
//       color: var(--color-light);
//       font-family: var(--font-three);
//     }
//   }

//   .image2 {
//     min-width: 30%;
//     width: 100%;
//     height: 100%;

//     img {
//       height: 100%;
//       width: 60%;
//       border-radius: 0.5rem;
//       object-fit: cover;
//     }
//   }
// }

#trendings {
  width: 95%;
  margin: auto;
  margin-bottom: 5em;

  .shop-head {
    display: flex;
    margin: 15px 0;
    justify-content: center;
    margin-bottom: 30px;

    h3 {
      font-size: var(--medium);
      text-align: center;
      font-size: var(--xlarge);
      font-family: var(--font-one);
      color: var(--color-tertiary);
      margin: 0 10px;
      font-weight: 500;
    }

    img {
      height: 8px;
      margin: auto 0;
    }
  }

  .images {
    display: flex;
    width: 100%;
    margin-top: 160px;

    .image {
      min-width: 30%;
      max-height: fit-content;
      height: 100%;
      position: relative;

      img {
        border-radius: 0.5rem;
        height: 500px;
        width: 400px;
        object-fit: cover;
        margin-left: 110px;
      }

      p {
        position: absolute;
        left: 8rem;
        bottom: 1rem;
        font-size: var(--large);
        color: var(--color-light);
        font-family: var(--font-three);
      }
    }

  }

  .btn{
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid #BB6878;
    color: #BB6878;
    justify-content: center;
    display: flex;
    margin: auto;
    transform: translateY(-40px);
  }

}

.image2 {
  width: 100%;

  img {
    width: fit-content;
  }
}


#history {
  width: 90%;
  margin: auto;
  margin: 50px auto;

  h1 {
    color: #BB6878;
    font-weight: bolder;
  }

  div {

    li {
      width: fit-content;
      margin: 0 15px;

      span {

        h2 {
          color: #BB6878;
          margin: 0;
        }

        s {
          font-size: 12px;
        }

        p {
          color: #BB6878;
          margin: 0;
          font-size: 20px;
        }

        nav {
          font-size: 12px;
        }
      }
    }
  }
}


#blog {
  width: 100%;
  max-height: fit-content;
  min-height: 100%;
  height: fit-content;
  color: #BB6878;

  .content {
    background-color: #ffe6ea;
    text-align: center;
    height: 400px;
    padding-top: 55px;

    img {
      height: 250px;
    }
  }

  .customer_review {
    background-color: var(--color-gold-light);
    width: 100%;
    min-height: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;

    div {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      text-align: start;
      font-family: var(--font-three);
      font-weight: var(--large);
      padding: 5rem;
    }

    .customer {
      min-width: 400px;
      width: 40%;
      font-size: 2.4rem;
      font-family: var(--font-six);
    }

    .quote {
      position: absolute;
      top: 2rem;
      left: -5rem;
      height: 3rem;
      width: 2rem;
      font-size: 5rem;

      @media (max-width: 600px) {
        // left: 1rem;
      }
    }

    .review {
      min-width: 400px;
      box-sizing: border-box;
      width: 50%;
      position: relative;
      padding: 5rem;
      box-sizing: border-box;
      font-family: var(--font-six);
      // color: black;

      p {
        padding: 3rem 0;
      }
    }
  }

  .about {
    width: 100%;
    margin: auto;
    height: 50%;
    display: flex;
    flex-wrap: wrap;

    div {
      width: 50%;
      min-width: 350px;
      height: 100%;
      margin: auto;
    }

    .person {
      width: 35rem;
      height: 32rem;
      transform: translateY(-7rem);
      padding: 1rem;
      margin: auto;
      margin-left: 200px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
      }
    }

    .explore_us {
      display: flex;
      flex-direction: column;
      padding: 0 100px;

      h5 {
        font-size: var(--xxlarge);
        font-family: var(--font-three);
        color: #BB6878;
      }

      p {
        font-size: var(--xlarge);
        // font-family: var(--font-two);
        font-family: 'Roboto';
        font-size: 14px;
        color: #000;
        width: 24em;
      }

      button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--color-secondary);
        border-radius: 0.3rem;
        border: none;
        cursor: pointer;
        color: var(--color-light);
        width: fit-content;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

#similar-blog {
  width: 90%;
  margin: auto;
  margin: 50px auto;
  margin-top: 0;


  .similar-head {
    display: flex;
    margin: 15px 0;
    justify-content: center;
    margin-bottom: 30px;

    h3 {
      font-size: var(--medium);
      text-align: center;
      font-size: var(--xlarge);
      font-family: var(--font-one);
      color: var(--color-tertiary);
      margin: 0 10px;
      font-weight: 500;
    }

    img {
      height: 8px;
      margin: auto 0;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: auto auto auto;

    div {
      margin: 0 20px;

      img {
        margin: 20px 0;
      }

      nav {
        color: #BB6878;
      }

      h3 {
        color: #BB6878;
        font-size: xx-large;
      }

      p {
        color: grey;
      }
    }
  }
}

#instagram {
  width: 90%;
  margin: auto;
  margin: 50px auto;
  margin-top: 0;

  .similar-head {
    display: flex;
    margin: 15px 0;
    justify-content: center;
    margin-bottom: 30px;

    h3 {
      font-size: var(--medium);
      text-align: center;
      font-size: var(--xlarge);
      font-family: var(--font-one);
      color: var(--color-tertiary);
      margin: 0 10px;
      font-weight: 500;
    }

    img {
      height: 8px;
      margin: auto 0;
    }
  }

  .grid {

    img {
      margin: 15px 0;
    }
  }
}

#faq {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;

  .similar-head {
    display: flex;
    margin: 15px 0;
    justify-content: center;
    margin-bottom: 30px;

    h3 {
      font-size: var(--medium);
      text-align: center;
      font-size: var(--xlarge);
      font-family: var(--font-one);
      color: var(--color-tertiary);
      margin: 0 10px;
      font-weight: 500;
    }

    img {
      height: 8px;
      margin: auto 0;
    }
  }

  .expansion-panel {

    mat-expansion-panel {
      background-color: #FDF7F8;
      margin-bottom: 15px;

      mat-panel-title {
        font-size: 18px;
      }

      p {
        font-size: 12px;
      }
    }
  }

}

@media (max-width: 600px) {
  #first-section {
    height: 40vh;
    background-color: var(--color-secondary);
    position: relative;

    .uk-slider {
      height: 100%;
      width: 100%;

      ul {
        height: 100%;
        width: 100%;

        li {
          height: 100%;
          width: 100%;
          position: relative;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    #first-text {
      position: absolute;
      top: 0;
      left: 0;
      padding: 2em;

      width: 55%;

      h2 {
        font-size: var(--xsmall);
        line-height: 1.3;
        letter-spacing: 1.3px;
      }

      p {
        color: var(--color-light);
        font-size: 12px;
      }

      button {
        padding: 0.5em;
        border-radius: 0.3rem;
        font-size: var(--xxxsmall);
      }
    }
  }

  #product-section {
    height: 30vh;
  }

  #blog {
    .customer_review {
      div {
        padding: 2rem;
      }

      .customer {
        margin-left: -10rem;
        padding: 3rem;
        font-size: 2.4rem;
        font-family: var(--font-six);
        color: black;
      }

      .quote {
        position: absolute;
        top: -2rem;
        left: -1rem;
        height: 3rem;
        width: 2rem;
        font-size: 2rem;

        @media (max-width: 600px) {
          left: 0;
        }
      }

      .review {
        padding: 2rem 4rem;
        color: black;

        p {
          padding: 3rem 0;
        }
      }
    }

    .about {
      margin: 0;

      .person {
        width: 8rem;
        height: 13rem;
        transform: translateY(-3rem);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        img {
          margin: auto;
          height: 100%;
          width: 60%;
        }
      }

      .explore_us {
        height: 300px;

        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
      }
    }
  }

  .blog_text {
    font-size: 1.3rem;
  }

  .cards {
    .card {
      width: 18rem;
      height: 30rem;
      gap: 10px;

      img {
        height: 75%;
        width: 100%;
        border-radius: 10px;
      }

      b {
        color: var(--color-dark);
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding: 10px 0px;
      }

      p {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #discount-section {
    display: none;
  }

  #shop-by-metals {
    padding: 0px;
    margin: 0;
    padding: 0;

    h3 {
      margin-top: 6rem;
    }

    #metals {
      transform: scale(0.9);
    }
  }

  .rings {
    width: 100%;
  }
}