<app-header></app-header>
<div class="main">
  <div class="new-address">
    <h1>Add a new address</h1>
    <hr />
    <p>Enter your shipping address</p>
    <form>
      <input class="details" type="text" placeholder="Full Name" />

      <div class="numbers">
        <input type="number" placeholder="Phone Number" />
        <input type="number" placeholder="Pin" />
      </div>

      <div class="state-city">
        <select name="State" id="state">
          <option value="0" label="State" selected="selected"></option>
          <option value="UK">Uttarakhand</option>
          <option value="UP">Uttar Pradesh</option>
          <option value="HR">Haryana</option>
          <option value="DL">Delhi</option>
        </select>
        <select name="City" id="city">
          <option value="0" label="City" selected="selected"></option>
          <option value="UK">Uttarakhand</option>
          <option value="UP">Uttar Pradesh</option>
          <option value="HR">Haryana</option>
          <option value="DL">Delhi</option>
        </select>
      </div>

      <input class="details" type="text" placeholder="House Number" />

      <input
        class="details"
        type="text"
        placeholder="Area, Colony, Road name"
      />
    </form>
    <div class="add-button">
      <button><i class="fa-solid fa-pen-to-square"></i> Add address</button>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.8020008118856!2d83.0083668149502!3d25.310855583843384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e2d9307e3a3bb%3A0xf7f85e8cfd5fa734!2sShri%20Kashi%20Vishwanath%20temple!5e0!3m2!1sen!2sin!4v1656217579477!5m2!1sen!2sin"
      height="700px"
      width="500px"
    ></iframe>
    <div class="add-button2">
      <button>Use my location <i class="fa-solid fa-location-dot"></i></button>
    </div>
  </div>
</div>
