<div class="container">
    <div class="text">
        <p id="heading">Add Delivery Address</p>
        <hr id="hr">
        <p id="small">Enter your shipping address</p>
    </div>
    <form [formGroup]="addDeliveryAddressForm" (ngSubmit)="addDeliveryAddress()">
        <div class="parent-container">
            <div class="section-one">
                <input type="text" placeholder="Full Name" formControlName="name">
                <div class="row w-100 justify-content-between">
                    <div class="col-sm-12 col-md-5 no-padding-x">
                        <input type="text" placeholder="Phone No." formControlName="phoneNumber">
                    </div>
                    <div class="col-sm-12 col-md-6 no-padding-x">
                        <input type="text" placeholder="Pin" formControlName="pinCode">
                    </div>
                </div>
                <div class="row w-100 justify-content-between">
                    <div class="col-sm-12 col-md-5 no-padding-x">
                        <input type="text" placeholder="State" formControlName="state">
                    </div>
                    <div class="col-sm-12 col-md-6 no-padding-x">
                        <input type="text" placeholder="City" formControlName="city">
                    </div>
                </div>
                <input type="text" placeholder="House No." formControlName="houseNo">
                <input type="text" placeholder="Area, Colony, Road name" class="mart" formControlName="address">
                <div class="uk-flex pt-4">
                    <button>Use My Location <i class="fa-solid fa-location-dot"></i></button>
                    <button type="submit">Next</button>
                </div>
                <div class="mobile-view">
                    <p id="heading">Estimated Time</p>
                    <app-mobile-address-product-widget></app-mobile-address-product-widget>
                    <button routerLink="../payment-options">Proceed To payment</button>
                </div>
            </div>
            <div class="section-second">
                <img src="assets/address.png" alt="">
            </div>
        </div>
    </form>
</div>