
      <div class="history">
        <div class="history_img">

            <img src="../../../assets/ring2.png" alt="">
        </div>
        <div class="history_details">
            <p>Forevermark Setting Solitaire Ring, White Gold, 1.80 ctw/ Round /15</p>

            <b>Arriving tomorrow</b>
            <div class="stars">
                 <div class="star " (click)="toggleActive()" [ngClass]="active ? 'active':''"><i class="ri-star-fill"></i></div>
                 <div class="star " (click)="toggleActive()" [ngClass]="active ? 'active':''"><i class="ri-star-fill"></i></div>
                <div class="star " (click)="toggleActive()" [ngClass]="active ? 'active':''"><i class="ri-star-fill"></i></div>
                <div class="star " (click)="toggleActive()" [ngClass]="active ? 'active':''"><i class="ri-star-fill"></i></div>
                <div class="star " (click)="toggleActive()" [ngClass]="active ? 'active':''"><i class="ri-star-fill"></i></div>
            </div>
            <button>Track Order</button> 
            <button>Write a review</button> 
        </div>
    </div>