<footer>
  <div class="container">
    <div class="contact">
      <div class="email">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
          />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
        <p>Enter Your Email To Get 10% Off On Your First Order</p>
      </div>
      <div class="subscribe">
        <input type="text" /> <button>Subscribe</button>
      </div>
    </div>
    <div class="nayasa_info">
      <div class="sosial">
        <div class="logo">
          <img src="assets/Vector.png" alt="" />
        </div>
        <b>NAAYSA</b>
        <div class="apps">
          <i class="fa-brands fa-facebook "></i>
          <i class="fa-brands fa-instagram "></i>
          <i class="fa-brands fa-twitter "></i>
          <i class="fa-brands fa-google "></i>
        </div>
      </div>
      <div class="contact_information">
        <b style="font-size: 25px">Get In Touch</b>
        <p style="font-size: 18px">contact@naysa.com</p>
        <p style="font-size: 18px">Cvil lines, Prayagraj, 556441</p>
        <p style="font-size: 18px">+91-8523697412</p>
      </div>
    </div>
  </div>

<div class="conatiner2">



  <div class="links-container">
    <div class="links">
      <h5>For Sales</h5>
      <p><a href="">631-31241421</a></p>
      <p><a href="">sales@nyaasa.com</a></p>
    </div>
    <div class="links">
      <h5>For Jobs</h5>
      <p><a href="">631-31241421</a></p>
      <p><a href="">sales@nyaasa.com</a></p>
    </div>
    <div class="links">
      <h5>For Press</h5>
      <p><a href="">631-31241421</a></p>
      <p><a href="">sales@nyaasa.com</a></p>
    </div>
    <div class="links">
      <h5>Become a Partner</h5>
      <p><a href="">Apply Now</a></p>
    </div>
  </div>
  <div class="links-container">
    <div class="links">
      <h5>Offices</h5>
      <div id="offices">
        <div class="office">
          <h6>New York</h6>
          <p>800, 720 Avenue, 891301</p>
        </div>
        <div class="office">
          <h6>Noida</h6>
          <p>800, 720 Avenue, 891301</p>
        </div>
      </div>
    </div>
    <div class="links">
      <h5>Services</h5>
      <div id="services">
        <div class="service">
          <h6>By Product</h6>
          <p>800, 720 Avenue, 891301</p>
          <p>800, 720 Avenue, 891301</p>
        </div>
        <div class="service">
          <h6>By Platform</h6>
          <p>800, 720 Avenue, 891301</p>
          <p>800, 720 Avenue, 891301</p>
          <p>800, 720 Avenue, 891301</p>
        </div>
      </div>
    </div>
  </div>
  <b routerLink="/privacy-policy">Privacy policy</b>
</div>
  <div id="bottom">&copy; Nyaasa Jewellers, 2022</div>
</footer>
