.container {
    width: 100%;
  background-color: var(--color-secondary);
  .contact {
    width: 100%;
    display: flex;
    height: 6rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--color-light);
    border-bottom: 2px solid var(--color-primary-light);
    .email {
      width: 30rem;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      svg {
        height: 35px;
        width: 35px;
      }
    }
    .subscribe {
      width: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 30px;
      input {
        width: 300px;
        height: 35px;
        outline: none;
        border: none;
        border-radius: 8px;
      }
      button {
        width: 100px;
        height: 35px;
        border: none;
        background-color: var(--color-light);
        border-radius: 8px;
        color: var(--color-secondary);
        font-size: 15px;
      }
    }
    @media (max-width: 600px) {
      font-size: 0.8rem;
      .subscribe {
        input {
          width: 200px;
        }
      }
    }
  }
  .nayasa_info {
    width: 100%;
    box-sizing: border-box;
   
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--color-light);
    gap: 30px;
    padding: 50px 10px;

    .sosial {
      display: flex;
      flex-direction: column;
      width: 25rem;
      gap: 40px;
      .logo{
        img{
            height: 50px;
            width: 65px;
        }
      }
      b {
        font-size: 25px;
      }

      .apps {
        display: flex;
        gap: 40px;
        font-size: 1.7rem;
      }
    }
    .contact_information {
      width: 25rem;
    }
    @media (max-width: 600px) {
      
      padding:  50px 20px;
      .contact_information {
        font-size: 0.3rem;
      }
    }
  }
}



// .container{
//     background-color: var(--color-dark-primary);
//     color: White;
//     font-size: var(--msmall);
//     .mail{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 15px;
//         span{
//             margin-right: 10px
//         }
//         input,button{
//             background-color: #fff;
//             border: none;
//             border-radius: 10px;
//             padding: 5px 10px;
//             margin: 0px 10px;
//             font-size: var(--xsmall);
//             margin-top: -5px;
//         }
//         button{
//             color: var(--color-dark-primary);
//             padding: 5px 15px;
//             cursor: pointer;
//         }
        
//     }
//     .content{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 15px 25px;
//         img{
//             width: 20%;
//         }
//         .social-links{
//             p{
//                 margin-left: 15px;
//                 margin-top: 5px;
//             }
//             .icons{
//                 display: flex;
//                 width: 20%;
//                 justify-content: space-between;
//                 font-size: var(--small);
//             }
//         }
//         .info{
//             p:nth-child(1){
//                 font-size: var(--medium);
//                 font-weight: 600;
//             }
//             p{
//                 font-size: var(--xsmall);
//             }
//         }
//     }
// }