<div class="container">
    <div class="mail">
        <p><span uk-icon="mail"></span>Enter Your Email To Get 10% Off On Your First Order</p>
        <div class="subscribe">
            <input type="email" placeholder="Your Email">
            <button>Subscribe</button>
        </div>

    </div>
    <div class="content">
        <div class="social-links">
            <img src="assets/Vector.png" alt="">
            <p>Naaysa</p>
            <div class="icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-google"></i>
            </div>
        </div>
        <div class="info">
            <p>Get In Touch</p>
            <p>contact@naysa.com</p>
            <p>Cvil lines, Prayagraj, 556441</p>
            <p>+91-8523697412</p>
        </div>
    </div>
</div>
