<section>
    <mat-progress-bar *ngIf="uploading" mode="determinate" [value]="uploadPercent"></mat-progress-bar>
    <mat-stepper linear="false">
        <mat-step [stepControl]="productForm" errorMessage="Basic details are missing." label="Product">
            <form [formGroup]="productForm" (ngSubmit)="basicDetailSubmit()">
                <input type="file" name="images" hidden multiple (change)="addImages($event)" #imagePicker>
                <div class="images">
                    <p *ngIf="productImagesData.length == 0">Click to add images</p>
                    <div class="image" *ngFor="let image of productImagesData;let i = index">
                        <mat-icon (click)="removeImage(i)">close</mat-icon>
                        <img [src]="image">
                    </div>
                    <button type="button" mat-flat-button (click)="imagePicker.click()" color="primary">Add Images</button>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" formControlName="name" matInput>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea type="text" formControlName="description" matInput></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select placeholder="Category" formControlName="category" name="category">
                        <mat-option *ngFor="let category of categories" [value]="category">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Average Rating</mat-label>
                    <mat-select placeholder="Rating" formControlName="averageRating" name="averageRating">
                        <mat-option *ngFor="let averageRating of ratings" [value]="averageRating">
                            {{averageRating}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <h3>Tags <button mat-flat-button color="primary" type="button" (click)="tags.push({name:''})">Tags</button></h3>
                <ol>
                    <li *ngFor="let color of tags; let i = index" class="row">
                      <mat-form-field appearance="outline">
                        <mat-label>Color Name</mat-label>
                        <input type="text" matInput [(ngModel)]="color.name" [ngModelOptions]="{standalone:true}">
                      </mat-form-field>
                      <button type="button" (click)="tags.splice(0,i)" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
                    </li>
                  </ol> -->
                <div class="actions">
                    <button type="button" mat-stroked-button (click)="cancel()" color="primary">Cancel</button>
                    <button type="submit" mat-flat-button matStepperNext color="primary">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Metals">
            <form [formGroup]="metalForm">
                <h2>For Base Material</h2>
                    <mat-form-field>
                        <mat-label>Choose Metal</mat-label>
                        <mat-select placeholder="Metal" formControlName="metal" name="metal">
                            <mat-option *ngFor="let metal of metals" [value]="metal">
                                {{metal.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Choose Colors</mat-label>
                        <mat-select placeholder="Choose Colors" multiple formControlName="color" name="color">
                            <mat-option *ngFor="let color of colors" [value]="color">
                                {{color.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Purity</mat-label>
                        <mat-select placeholder="Choose Colors" multiple formControlName="color" name="color">
                            <mat-option *ngFor="let color of purities" [value]="color">
                                {{color.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <hr>
                    <h3>Product Size <button mat-icon-button color="primary" (click)="sizes.push({name:'',weight:0,variation:0})"><mat-icon>add</mat-icon></button></h3>
                    <div class="row" *ngFor="let size of sizes;let first = first">
                        <mat-form-field>
                            <mat-label>Size Name</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Weight</mat-label>
                            <input [disabled]="!first" type="number" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Weight</mat-label>
                            <input [disabled]="first" type="number" matInput>
                        </mat-form-field>
                        <mat-form-field *ngIf="first">
                            <mat-label>Variation</mat-label>
                            <input type="number" matInput>
                        </mat-form-field>
                        <div class="sizeVariationField" *ngIf="!first">
                            <button mat-icon-button matSuffix><mat-icon>add</mat-icon></button>
                            <mat-form-field>
                                <mat-label>Variation</mat-label>
                                <input type="number" matInput>
                            </mat-form-field>
                            <button mat-icon-button matPrefix><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <!-- <mat-checkbox *ngFor="let color of colors">
                        {{color.name}}
                    </mat-checkbox> -->
                <div class="stepContainer">
                    
                <!-- <button mat-flat-button color="primary" (click)="addMaterial()">Add Material</button> -->
                <!-- <ol class="materials">
                    <li *ngFor="let material of selectedMaterials;let i = index">
                        <div class="material">
                            <div class="fields">
                                <mat-form-field appearance="outline">
                                    <mat-label>Material</mat-label>
                                    <mat-select placeholder="Material" [(ngModel)]="material.selectedMaterial" [ngModelOptions]="{standalone:true}">
                                        <mat-option *ngFor="let material of material.materials" [value]="material">
                                            {{material.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input type="text" matInput [(ngModel)]="material.name" [ngModelOptions]="{standalone:true}">
                                </mat-form-field>
                                <mat-form-field appearance="outline" *ngIf="material.selectedMaterial" >
                                    <mat-label>Select Variant</mat-label>
                                    <mat-select placeholder="Select Variant" (selectionChange)="changedVariant(material,$event)" multiple name="variant">
                                        <mat-option *ngFor="let variant of material.selectedMaterial.variants" [value]="variant">
                                            {{variant.name}} - {{variant.rate | currency:'INR'}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Making Rate</mat-label>
                                    <input type="text" matInput [(ngModel)]="material.makingRate" [ngModelOptions]="{standalone:true}">
                                </mat-form-field>
                                <button mat-icon-button color="warn" (click)="removeMaterial(i)"> <mat-icon>delete</mat-icon></button>
                            </div>
                            <div class="options">
                                <p>Making Charges Upon</p>
                                <mat-radio-group [(ngModel)]="material.perWeight">
                                    <mat-radio-button value="value1">Per Weight</mat-radio-button>
                                    <mat-radio-button value="value2">Per Quantity</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
                                <tr>
                                    <th>Variant</th>
                                    <th>Price</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                <tr *ngFor="let item of material.selectedVariants">
                                    <td>{{item.name}}</td>
                                    <td>{{item.rate}}</td>
                                    <td>{{item.unit}}</td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Quantity</mat-label>
                                        <input required type="number" matInput (input)="item.total = item.quantity * item.rate" [(ngModel)]="item.quantity">
                                    </mat-form-field>
                                    <td>{{item.total}}</td>
                                </tr>
                            </table>
                        </div>
                    </li>
                </ol> -->
                </div>
            </form>
            <button mat-flat-button matStepperNext (click)="generateVariants()" color="primary">Generate Variants</button>
        </mat-step>
        <mat-step label="Variants">
            <ol class="combinations">
                <li *ngFor="let variant of generatedCombinations">
                    <div class="item" *ngFor="let item of variant.combination">
                        <p>Name: {{item.name}}</p>
                        <p>Rate: {{item.rate}}</p>
                        <p>Total: {{item.total}}</p>
                    </div>
                    <div class="total">
                        <b>{{sumVariant(variant.combination) | currency:'INR'}}</b>
                    </div>
                </li>
            </ol>
            <button mat-flat-button (click)="publishProduct()" color="primary">Publish Product</button>
        </mat-step>
        <mat-step label="Pricing & Taxes"></mat-step>
    </mat-stepper>
</section>