<section>
    <mat-progress-bar *ngIf="uploading" mode="determinate" [value]="uploadPercent"></mat-progress-bar>
    <mat-stepper linear="false">
        <mat-step [stepControl]="productForm" errorMessage="Basic details are missing." label="Product">
            <form [formGroup]="productForm" (ngSubmit)="basicDetailSubmit()">
                <input type="file" name="images" hidden multiple (change)="addImages($event)" #imagePicker>
                <div class="images">
                    <p *ngIf="productImagesData.length == 0">Click to add images</p>
                    <div class="image" *ngFor="let image of productImagesData;let i = index">
                        <mat-icon (click)="removeImage(i)">close</mat-icon>
                        <img [src]="image">
                    </div>
                    <button type="button" mat-flat-button (click)="imagePicker.click()" color="primary">Add Images</button>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" formControlName="name" matInput>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea type="text" formControlName="description" matInput></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select placeholder="Category" formControlName="category" name="category">
                        <mat-option *ngFor="let category of categories" [value]="category">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Average Rating</mat-label>
                    <mat-select placeholder="Rating" formControlName="averageRating" name="averageRating">
                        <mat-option *ngFor="let averageRating of ratings" [value]="averageRating">
                            {{averageRating}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="actions">
                    <button type="button" mat-stroked-button (click)="cancel()" color="primary">Cancel</button>
                    <button type="submit" mat-flat-button matStepperNext color="primary">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Materials">
            <div class="stepContainer">
                <h2>For Base Material</h2>
            <button mat-flat-button color="primary" (click)="addMaterial()">Add Material</button>
            <ol class="materials">
                <li *ngFor="let material of selectedMaterials;let i = index">
                    <div class="material">
                        <div class="fields">
                            <mat-form-field appearance="outline">
                                <mat-label>Material</mat-label>
                                <mat-select placeholder="Material" [(ngModel)]="material.selectedMaterial" [ngModelOptions]="{standalone:true}">
                                    <mat-option *ngFor="let material of material.materials" [value]="material">
                                        {{material.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input type="text" matInput [(ngModel)]="material.name" [ngModelOptions]="{standalone:true}">
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="material.selectedMaterial" >
                                <mat-label>Select Variant</mat-label>
                                <mat-select placeholder="Select Variant" (selectionChange)="changedVariant(material,$event)" multiple name="variant">
                                    <mat-option *ngFor="let variant of material.selectedMaterial.variants" [value]="variant">
                                        {{variant.name}} - {{variant.rate | currency:'INR'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <table class="uk-table uk-table-divider uk-table-justify uk-table-striped uk-table-hover">
                            <tr>
                                <th>Variant</th>
                                <th>Price</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            <tr *ngFor="let item of material.selectedVariants">
                                <td>{{item.name}}</td>
                                <td>{{item.rate}}</td>
                                <td>{{item.unit}}</td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Quantity</mat-label>
                                    <input type="number" matInput (input)="item.total = item.quantity * item.rate" [(ngModel)]="item.quantity">
                                </mat-form-field>
                                <td>{{item.total}}</td>
                            </tr>
                        </table>
                        <!-- <ol>
                            <li *ngFor="let item of material.selectedVariants">
                                {{item.name}}
                            </li>
                        </ol> -->
                    </div>
                    <button mat-icon-button color="warn" (click)="removeMaterial(i)"> <mat-icon>delete</mat-icon></button>
                </li>
            </ol>
            </div>
        </mat-step>
        <mat-step label="Variants">
            
        </mat-step>
    </mat-stepper>
</section>