<div class="container">
    <div class="box">
        <div class="logo">
            <img src="assets/logo.svg" alt="">
            <p>NYAASA <span>JEWELLERS</span></p>
        </div>
        <div class="list">
            <div class="my-class">
                <button type="button">Trending</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>

            </div>
            <div class="my-class">
                <button type="button">All Jewellery</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>
            </div>
            <div class="my-class">
                <button type="button">Rings</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>
            </div>
            <div class="my-class">
                <button type="button">Solitaires</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>
            </div>
            <div class="my-class">
                <button type="button">Earings</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>
            </div>
            <div class="my-class">
                <button type="button">Pendants</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>
            </div>
            <div class="my-class">
                <button type="button">Coins</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>
            </div>
            <div class="my-class">
                <button type="button">Offers</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>
            </div>
            <div class="my-class">
                <button type="button">Stores</button>
                <div uk-dropdown="boundary: .my-class" id="hover">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
                <span uk-icon="chevron-down"></span>
            </div>
        </div>
        <div class="buttons">
            <button><span uk-icon="search"></span></button>
            <button><span uk-icon="cart"></span></button>
        </div>
    </div>
</div>