<div class="item-card {{stock}}">
    <img src="{{imgsrc}}" alt="item-photo">
    <div class="item-details">
        <h3>{{item_name}}</h3>
        <div class="stock-div">
            <p>₹{{item_price}}</p>
            &nbsp;|&nbsp;
            <p class="{{stock}}">{{stock}}</p>
        </div>
        <div class="count">
            <input type="number" value="1">
        </div>
    </div>
    <div class="item-total">
        <p id="price">₹{{total_price}}</p>
        <div class="buttons">
            <button (click)="alert()">❤️ Wish List</button>
            <button id="normal" (click)="getCartItem()"><i class="fa-solid fa-trash-can"></i> Delete</button>
        </div>
    </div>
</div>


<!-- item_name="" item_price stock item_count total_price -->