<!-- <div class="item-card {{stock}}">

    <div class="item-details">
        <h3>{{item_name}}</h3>
        <h4 class="Jnumber">{{item_no}}</h4>
        <div class="stock-div">
          <p class="quantity">Quantity: {{item_quantity}}</p>
            <p class="{{stock}} stockItem">{{stock}}</p>
        </div>
        <p class="deliveryDay">Delivery Date : {{item_date}}</p>
        <div class="inputBtn">
        <button type="button" (click)="plus()"><i class="fa fa-plus"></i></button>
        <input type="text" [value]="quantityValue">
        <button type="button" (click)="minus()"><i class="fa fa-minus"></i></button></div>
    </div>
    <div class="item-total">
      <div class="totalPriceDiv">
        <p id="price" class="totalPrice">{{total_price}}</p>
        <p class="price">₹ {{item_price}}</p>
      </div>

        <div class="saveGapBtn">
          <p class="save">Save : {{item_save}}</p>
          <div class="buttons">
            <button id="normal" (click)="delete()" class="remove"> Remove</button>
              <button (click)="alert()" class="wishButton">Move to Wishlist</button>
          </div>
        </div>

    </div>
</div>


 -->
 <!-- <div class="cartBox item-card">
  <section>

    <img src="{{imgsrc}}" alt="item-photo">
  </section>

  <section>


    <div class="item-details">
      <div>
        <h3 class="itemDetailsName">{{item_name}}</h3>
        <h4 class="Jnumber">{{item_no}}</h4>
        <div class="stock-div">
          <p class="quantity">Quantity: {{item_quantity}}</p>
            <p class="{{stock}} stockItem">{{stock}}</p>
         </div>
         <p class="deliveryDay">Delivery Date : {{item_date}}</p>
      </div>

    <div>
      <div class="totalPriceDiv">
        <p id="price" class="totalPrice">{{total_price}}</p>
        <p class="price">₹ {{item_price}}</p>
      </div>

        <p class="save">Save : {{item_save}}</p>
      </div>

   <div class="inputBtn">
    <button type="button" (click)="plus()"><i class="fa fa-plus"></i></button>
    <input type="text" [value]="quantityValue">
    <button type="button" (click)="minus()"><i class="fa fa-minus"></i></button></div>

    <div class="buttons">
      <button id="normal" (click)="delete()" class="remove"> Remove</button>
        <button (click)="alert()" class="wishButton">Move to Wishlist</button>
    </div>
    </div>

  </section>
 </div> -->


 <section class="cartBox">
<div class="cartImg">
  <img src="{{imgsrc}}" alt="item-photo">
</div>
<div class="cartItemBox">
  <div>
    <h3 class="itemDetailsName">{{item_name}}</h3>
    <h4 class="Jnumber">{{item_no}}</h4>
    <div class="columnDiv">
      <p class="quantity">Quantity: {{item_quantity}}</p>
        <p class="{{stock}} stockItem">{{stock}}</p>
     </div>
     <p class="deliveryDay">Delivery Date : {{item_date}}</p>
  </div>

  <div>
    <div class="columnPrice">
      <p id="price" class="totalPrice">{{total_price}}</p>
      <p class="price">₹ {{item_price}}</p>
    </div>

      <p class="save">Save : {{item_save}}</p>
    </div>

    <div class="inputBtn">
      <button type="button" (click)="plus()"><i class="fa fa-plus"></i></button>
      <input type="text" [value]="quantityValue">
      <button type="button" (click)="minus()"><i class="fa fa-minus"></i></button>
    </div>

      <div class="buttonGroup">
        <button id="normal" (click)="delete()" class="remove"> Remove</button>
          <button (click)="alert()" class="wishButton">Move to Wishlist</button>
      </div>

</div>
 </section>
