.item-card {
    margin: 25px;
    display: flex;
    border-radius: 8px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 15px;

    &:hover {
        border: 2px solid var(--color-primary);
        transform: scale(1.02);
        transition: 0.5s;
        box-shadow: 0 0 20px rgba(246, 174, 220, 0.608);
    }
}

img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.item-details {
    padding: 10px;
    margin-left: 50px;
    width: 480px;
}

.item-details h3 {
    font-size: var(--msmall);
    font-weight: 600;
}

.stock-div {
    margin-top: 5px;
    display: flex;
    font-size: larger;
}

.stock-div .stock {
    font-size: small;
    font-weight: bold;
    margin-top: 5px;
}
#normal{
    font-weight: 400;
    font-size: var(--xmsmall);
    width:240px;
    margin-left: 0;
}


.in .stock-div .stock {
    color: green;
}

.out .stock-div .stock {
    color: red;

}

.out {
    opacity: .50;
    background-color: rgb(228, 228, 228);
}

.item-total p {
    font-weight: bold;
    font-size: var(--msmall);
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 100px;
}

.count{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 5px;
    margin: 5px;
    width: 25%;
    border-radius: 10px;
    input{
        border: none;
        font-weight: 500;
        font-size: var(--xxsmall);

    }
    
}

.count-btn {
    background-color: inherit;
    border: none;
    margin: 0 7px;
}

.count-btn:hover {
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    .item-card{
        margin: 5px;
        flex-direction: column;
        height: auto;
        width: auto;
        text-align: center;
    }
    .stock-div{
        display: flex;
        align-items: center;
        margin: auto;
        width: 45%;
        margin: 10px auto;
        p{
            font-size: var(--xsmall);
        }
        // p:nth-child(1){
        //     margin-top: 20px;
        // }
        // p:nth-child(2){
        //     margin-top: 20px;
        // }
    }
    .count{
        display: block;
        margin: auto;
    }
    img{
        height: 45px;
        width: 45px;
        object-fit: cover;
        display: block;
        margin: auto;
    }
    .item-details{
        margin: 0 10px;
        font-size: var(--msmall);
        h3{
            font-size: var(--msmall);
        }
    }
    .item-details{
        font-size: var(--msmall);
        width: auto;
        margin-left: 0;
    }
    .item-total p{
        margin-left: 0;
    }
    #normal{
        font-weight: 400;
        font-size: var(--xmsmall);
        display: inline-block;
        width:240px;
        margin: auto;
    }
}