// .item-card {
//   padding: 24px;
//   margin-top: 25px;
//     display: flex;
//     justify-content: space-between;
//     background: #FFFFFF;
// border: 1px solid #C4C4C4;
// border-radius: 20px;

//     &:hover {
//         border: 2px solid var(--color-primary);
//         transform: scale(1.02);
//         transition: 0.5s;
//         box-shadow: 0 0 20px rgba(246, 174, 220, 0.608);
//     }
// }

// img {
//     object-fit: cover;
//     width: 198px;
//     height: 189px;
//     border-radius: 10px;
// }

// .item-details {
//     // padding: 10px;
//     margin-left: 50px;
//     width: 480px;
// }



// .stock-div {
//     // margin-top: 5px;
//     display: flex;
//     font-size: larger;
// }

// .stock-div .stock {
//     font-size: small;
//     font-weight: bold;
//     margin-top: 5px;
// }
// #normal{
//     // font-weight: 400;
//     // font-size: var(--xmsmall);
//     // width:240px;
//     margin-left: 0;
//     cursor: pointer;
// }


// .in .stock-div .stock {
//     color: green;
// }

// .out .stock-div .stock {
//     color: red;

// }

// .out {
//     opacity: .50;
//     background-color: rgb(228, 228, 228);
// }

// .wishButton{
//   background: #FFFFFF;
//   border: 1.67742px solid #BB6878;
//   border-radius: 10.0645px;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   color: #BB6878;
//   box-shadow:none;
// }
// .item-details h3 {
//   color: #5C5E62;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 24px;
//   line-height: 28px;
//   }
//   .remove{
//     background: #FFFFFF;
//     width: 201.29px;
//     height: 52px;
// border: 1.67742px solid rgba(102, 102, 102, 0.6);
// border-radius: 10.0645px;
// font-family: 'Roboto';
// font-style: normal;
// font-weight: 500;
// font-size: 20.129px;
// line-height: 24px;
// text-align: center;
// color: rgba(102, 102, 102, 0.6);
// box-shadow:none;
//   }
//   .Jnumber{
//     color: #666666;
//     font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 18px;
// line-height: 21px;
//   }
//   .stockItem{
//     color: #EB4F5C;
//     font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 16px;
// line-height: 19px;
//   }
//   .deliveryDay{
//     color: #BB6878;
//     font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 18px;
// line-height: 21px;
//   }
//   .save{
//     color: #1CAE56;
//     font-family: 'Roboto';
//     text-align: end;
// font-style: normal;
// font-weight: 400!important;
//     font-size: 20px!important;
// line-height: 23px;
// margin-bottom: 70px;
//   }
// .totalPriceDiv{
//   display: flex;
//   justify-content: flex-end;
// }
// .quantity{
//   color: #666666;
//   font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 18px;
// line-height: 21px;
// margin-right: 2px;
// }
// .inputBtn{
//   display: inline-flex;
// }
// .inputBtn input{
//   width: 39.44px;
//   height: 31.11px;
//   border: 0.5px solid #E88F9F;
//   border-radius: 5px;
//   text-align: center;
// }
// .totalPrice{
//   color: #E88F9F;
//   font-family: 'Philosopher';
// font-style: normal;
// font-weight: 700!important;
// font-size: 28px!important;
// line-height: 31px;
// text-align: center;
// }
// .price{
//   color: #5C5E62;
//   align-items: center;
//   text-decoration-line: line-through;
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 400!important;
//   font-size: 18px!important;
//   line-height: 27px;
//   margin-left: 8px;
// }
// .inputBtn input{
//   width: 39.44px;
//   height: 31.11px;
//   border: 0.5px solid #E88F9F;
//   border-radius: 5px;
//   text-align: center;
// }
// .inputBtn button{
//   width: 32px;
// height: 32px;
// margin-left: 2px!important;
// margin-right: 2px!important;
// background: #FFB3C0;
// box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
// border-radius: 5px;
// color: #FFFFFF;
// }
// //  1300 1024 1920
// @media (min-width:1300px) {
//   .buttons{
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     margin-left: 0px;
//   }
//   .wishButton{
//   font-size: 20.129px!important;
//   line-height: 24px;
//   text-align: center;
//   }


// .inputBtn button{
//   width: 32px;
// height: 32px;
// margin-left: 2px!important;
// margin-right: 2px!important;
// background: #FFB3C0;
// box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
// border-radius: 5px;
// color: #FFFFFF;
// }
// .save{
//   color: #1CAE56;
//   text-align: start;
// }


// }
// @media (min-width:1300px) {
//   .buttons{
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     margin-left: 0px;
//   }
//   .item-details {
//     // padding: 10px;
//     margin-left: 50px;
//     width: 480px;
//     flex-shrink: 0.5;
// }
//   .quantity{
//     color: #666666;
//     font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 18px;
// line-height: 21px;
// margin-right: 2px;
//   }
//   .deliveryDay{
//     color: #BB6878;
//     font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 18px;
// line-height: 21px;
//   }

// .totalPriceDiv{
//   display: flex;
//   justify-content: flex-end;
// }
// .save{
//   color: #1CAE56;
//   text-align: end;
// }
// }

// @media (max-width:1024px){
//   .item-details {
//     margin-left: 10px;
//     width: 480px;
// }
//   .remove,.wishButton{
//     width: 80px;
//     height: 40px;
//     font-weight: 400;
//     font-size: 15px;
//     // line-height: 24px;
//   }
//   .totalPriceDiv{
//     display: flex;
//     justify-content: flex-end;
//   }
//   .save{
//     text-align: end;
//     // margin-bottom: 122px;
//   }
//   .saveGapBtn{
//     display: flex;
//     flex-direction: column;
//       gap: 70px;
//   }
//   .buttons{
//     display: flex;
//     justify-content: center;
//     width: auto;
//     margin-left: 0px;
// }
// }
// @media (max-width:1920px) {

//     .item-details {
//       margin-left: 10px;
//       width: 480px;
//   }
//   .save{
//     text-align: end;
//     margin-bottom: 0px;
//   }
//   .buttons{
//     display: flex;
//     justify-content: end;
//     width: 100%;
//     margin-left: 0%;
// }
// .saveGapBtn{
//   display: flex;
//   flex-direction: column;
//   gap: 80px;
// }
// .remove,.wishButton{
//   width: 100px;
//   height: 40px;
//   font-weight: 500;
// font-size: 20px;

//   // line-height: 24px;
// }

// }
// @media (min-width:1920px) {
// }
// // for phone
// @media only screen and (max-width: 600px){
//     .item-card{
//         margin: 5px;
//         flex-direction: column;
//         height: auto;
//         width: auto;
//         text-align: center;
//     }
//     .stock-div{
//         display: flex;
//         align-items: center;
//         margin: auto;
//         width: 45%;
//         margin: 10px auto;
//         p{
//             font-size: var(--xsmall);
//         }
//         // p:nth-child(1){
//         //     margin-top: 20px;
//         // }
//         // p:nth-child(2){
//         //     margin-top: 20px;
//         // }
//     }
//     .count{
//         display: block;
//         margin: auto;
//     }
//     img{
//         height: 45px;
//         width: 45px;
//         object-fit: cover;
//         display: block;
//         margin: auto;
//     }
//     .item-details{
//         margin: 0 10px;
//         font-size: var(--msmall);
//         h3{
//             font-size: var(--msmall);
//         }
//     }
//     .item-details{
//         font-size: var(--msmall);
//         width: auto;
//         margin-left: 0;
//     }
//     .item-total p{
//         margin-left: 0;
//     }
//     #normal{
//         font-weight: 400;
//         font-size: var(--xmsmall);
//         display: inline-block;
//         width:240px;
//         margin: auto;
//     }
//     .buttons{
//         margin-left: 0 ;
//         button{
//             padding: 5px 10px ;
//         }
//     }
// }
// button{
//     border:none;
//     outline: none;
//     background-color: white;
//     padding:05px 20px;
//     font-size: var(--xxsmall);
//     font-family: var(--font);
//     display: block;
//     margin-right: 20px;
//     border-radius: 10px;
//     transition: all 0.5s ease-in-out;
//     min-width: fit-content;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
//     &:hover{
//         background: var(--color-secondary);
//         color:white;
//     }
// }
// .buttons{
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     margin-left: -25%;
// }





// .cartBox{
//   display: grid;
//   grid-template-columns: 2fr 8fr;

// }
// .item-details{
//   display: grid;
//   grid-template-columns: auto auto;
// }
// .item-card {
//     padding: 24px;
//     margin-top: 25px;
//       background: #FFFFFF;
//   border: 1px solid #C4C4C4;
//   border-radius: 20px;
//   &:hover {
//             border: 2px solid var(--color-primary);
//             transform: scale(1.02);
//             transition: 0.5s;
//             box-shadow: 0 0 20px rgba(246, 174, 220, 0.608);
//         }
// }


// .stock-div {
//       // margin-top: 5px;
//       display: flex;
//       column-gap: 12px;
//       font-size: larger;
//   }

//   .stock-div .stock {
//       font-size: small;
//       font-weight: bold;
//       margin-top: 5px;
//   }
//   .totalPriceDiv{
//     display: flex;
//     justify-content: end;
//   }

// .inputBtn input{
//   width: 39.44px;
//   height: 31.11px;
//   border: 0.5px solid #E88F9F;
//   border-radius: 5px;
//   text-align: center;
// }
// .inputBtn{
//   display: inline-flex
// }
// .totalPrice{
//   color: #E88F9F;
//   font-family: 'Philosopher';
// font-style: normal;
// font-weight: 700;
// font-size: 28px;
// line-height: 31px;
// text-align: center;
// }
// .price{
//   color: #5C5E62;
//   align-items: center;
//   text-decoration-line: line-through;
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 400!important;
//   font-size: 18px!important;
//   line-height: 27px;
//   margin-left: 8px;
// }
// .inputBtn input{
//   width: 39.44px;
//   height: 31.11px;
//   border: 0.5px solid #E88F9F;
//   border-radius: 5px;
//   text-align: center;
// }
// .inputBtn button{
//   color: #FFFFFF;
//   width: 32px;
//   height: 32px;
//   background: #FFB3C0;
//   border:none;
//   outline: none;
// box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
// border-radius: 5px;
// }
// .buttons{
//   display: flex;
//   justify-content: end;
//   column-gap: 16px;
// }
// .remove{
//   background: #FFFFFF;
//   width: 200px;
//   height: 52px;
// border: 1.67742px solid rgba(102, 102, 102, 0.6);
// border-radius: 10.0645px;
// font-family: 'Roboto';
// font-style: normal;
// font-weight: 500;
// font-size: 20px;
// text-align: center;
// color: rgba(102, 102, 102, 0.6);
// box-shadow:none;
// }
// .wishButton{
//   width: 200px;
//   height: 52px;
//   background: #FFFFFF;
//   border: 1.67742px solid #BB6878;
//   border-radius: 10.0645px;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   color: #BB6878;
//   box-shadow:none;
// font-size: 20px;
// line-height: 24px;
// text-align: center;
// }
// .itemDetailsName {
//   color: #5C5E62;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 24px;
//   line-height: 28px;
//   }

//   .Jnumber{
//     color: #666666;
//     font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 18px;
// line-height: 21px;
//   }
//   .stockItem{
//     color: #EB4F5C;
//     font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 16px;
// line-height: 19px;
//   }



.cartBox{
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-gap: 8px;
  padding: 24px;
    margin-top: 25px;
      background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  &:hover {
                border: 2px solid var(--color-primary);
                transform: scale(1.02);
                transition: 0.5s;
                box-shadow: 0 0 20px rgba(246, 174, 220, 0.608);
            }
  .cartImg{
    width: 100%;
  }
  .cartItemBox{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .columnDiv{
    display: flex;
    gap:8px
  }
  .inputBtn input{
      width: 39.44px;
      height: 31.11px;
      border: 0.5px solid #E88F9F;
      border-radius: 5px;
      text-align: center;
    }
    .inputBtn button{
      color: #FFFFFF;
      width: 32px;
      height: 32px;
      background: #FFB3C0;
      border:none;
      outline: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    }
    .columnPrice,.buttonGroup{
      display: flex;
      column-gap: 5px;
      justify-content: end;
    }
   .buttonGroup button{
    border-radius: 10.0645px;
    // background: #FFFFFF;
    width: 100%;
    height: 52px;
    cursor: pointer;
   }
   .itemDetailsName{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
color: #5C5E62;
   }
}
.deliveryDay{
  color: #BB6878;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}
.save{
  color: #1CAE56;
  font-family: 'Roboto';
  text-align: end;
font-style: normal;
font-weight: 400;
  font-size: 20px;
line-height: 23px;
}
  .Jnumber{
    color: #666666;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
  }

  .totalPrice{
  color: #E88F9F;
  font-family: 'Philosopher';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 31px;
text-align: center;
}
.price{
  color: #5C5E62;
  align-items: center;
  text-decoration-line: line-through;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400!important;
  font-size: 18px!important;
  line-height: 27px;
  margin-left: 8px;
}


.remove{
  background: #FFFFFF;
  // width: 200px;
  // height: 52px;
border: 1.67742px solid rgba(102, 102, 102, 0.6);
border-radius: 10.0645px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
text-align: center;
color: rgba(102, 102, 102, 0.6);
box-shadow:none;
&:hover {
  color: #FFFFFF;
  background: rgba(102, 102, 102, 0.6);
}
}
.wishButton{
  // width: 200px;
  // height: 52px;
  background: #FFFFFF;
  border: 1.67742px solid #BB6878;
  border-radius: 10.0645px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: #BB6878;
  box-shadow:none;
font-size: 18px;
// line-height: 24px;
text-align: center;
&:hover {
  color: #FFFFFF;
  background: #BB6878;;
}
}
