.container{
    border: 1px solid var(--color-dark-primary);
    background-color: var(--color-light-primary);
    margin: 10px;
    padding: 10px 30px;
    font-family: var(--font);
    border-radius: 10px;
    box-shadow: var(--color-primary) 0px 4px 14px 0px;
    .box{
        display: block;
        margin: auto;
        text-align: center;
        img{
            max-height: 150px;
            min-height: 150px;
            max-width: 200px;
            object-fit: cover;
        }
    }
    .heart{
        text-align: right;
        i{
            color: var(--color-dark-primary);
            font-size: 20px;
        }

        span{
            transition: 0.5s;
            &:hover{
                color: var(--color-dark-primary); 
            }
        }
    }
    #name{
        font-weight: 500;
        font-size: var(--small);
        color: #000;
        text-align: left;
    }
    #price{
        font-size: var(--small);
        line-height: 10px;
        text-align: left;
    }
    #info{
        font-size: var(--xxsmall);
        line-height: 15px;
        text-align: left;
    }
}