<div class="container .uk-animation-fade ">
    <div class="box">
        <div >
            <div class="upper-section">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="heart" (click)="addToWishlist()"><i 
                    [ngClass]="{'fa-heart': this.wishlist == true, 'fa-solid': this.wishlist == false }"
                       ></i></div>
            </div>
            <div class="image" routerLink="../product/{{id}}">
                <img src="{{src}}" alt="">
            </div>
            <div class="discount">
                <p>Flat {{discount}}</p>
                <p>{{purity}} Gold</p>
            </div>
            <hr id="hr">
            <p id="name">{{product_name}}</p>
            <p id="price">&#x20B9; {{price}}</p>
            <p id="info"><span>{{category}} </span> | <span>{{jewellery_Name}}</span></p>
        </div>
        <div class="buttons">
            <button (click)="addProductCart()" >Add To Cart</button>
            <!-- <button (click)="buyNow()">Buy Now</button> -->
        </div>
    </div>
</div>