<div class="container">
    <div class="header">
      <div class="para">
          <p id="heading">{{title}}</p>
      </div>
      <div class="links">
          <button><i class="fa-solid fa-tags"></i>Manage Categories</button>
          <button><i class="fa-solid fa-toggle-on"></i>Pretty View</button>
          <button><i class="fa-solid fa-bars"></i> View By</button>
      </div>
    </div>
    <div class="uk-margin">
      <form class="uk-search uk-search-default">
          <span class="uk-search-icon-flip" uk-search-icon></span>
          <input class="uk-search-input" type="search" placeholder="Search">
      </form>
      <i class="fa-solid fa-bell" id="bell"></i>
    </div>
  </div>
