<app-header></app-header>
<div class="container">
    <div class="section1">
        <div class="box">
            <p>Wallet</p>
            <img src="assets/11.jpg" alt="">
        </div>
        <div class="box">
            <p>Balance</p>
            <p>₹2000</p>
        </div>
        <div class="box">
            <p>Spent</p>
            <p>₹2000</p>
        </div>
        <p id="pay">Payment Method</p>
        <div class="widgets">
            <app-payment-option-widget></app-payment-option-widget>
            <app-payment-option-widget></app-payment-option-widget>
            <app-payment-option-widget></app-payment-option-widget>
        </div>
    </div>
    <div class="section2">
        <p>History</p>
        <div class="table">
            <table>
                <tr>
                  <th>ID</th>
                  <th>Amount</th>
                  <th>Payment Date</th>
                  <th>Title</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>#99H33G</td>
                  <td>₹ 2,000</td>
                  <td>22-11-2021</td>
                  <td>2nd installment</td>
                  <td>Pending</td>
                </tr>
              </table>
        </div>
    </div>
</div>