.container{
    display: flex;
    margin-top: 105px;
    justify-content: space-between;
    color: #000;
    .section1{
        width: 30%;
        border: 1px solid #969696;
        padding: 15px;
        margin: 10px;
        border-radius: 15px;
        #pay{
            font-size: var(--small);
            font-weight: 600;
            color: var(--color-dark-primary);
        }
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .box:nth-child(1){
            p{
                font-size: var(--medium);
                font-weight: 600;
                font-family: var(--font-one);
                color: #000;
            }
        }
        .box:nth-child(2){
            margin-top: 15px;
            p{
                font-size: var(--small);
                font-weight: 500;
                font-family: var(--font-one);
            }
            p:nth-child(2){
                color: var(--color-success);
            }
        }
        .box:nth-child(3){
            p{
                font-size: var(--small);
                font-weight: 500;
                font-family: var(--font-one);
            }
            p:nth-child(2){
                color: tomato;
            }
        }
    }
}
.widgets{
    app-payment-option-widget{
        width: 100%;
    }
}
.section2{
    width: 65%;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #969696;
    background-color: #fff;
    p{
        font-size: var(--medium);
        font-weight: 600;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border-bottom: 1px solid grey;
        text-align: left;
        padding: 15px 8px;

      }
      
      tr:nth-child(even) {
        background-color: #ffe9ed;
      }
}
@media screen and (max-width:410px) {
        .container{
            flex-direction: column;
            .section1{
                width: 100%;
            }
            .section2{
                width: 100%;
            }
        }
}