.container{
  margin: 15px;
  padding: 15px;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #F3C7CF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .section-one{
    font-weight: 500;
    width: 50%;
    .details{
      button{
        background-color: var(--color-dark-primary);
        color: #fff;
        border: none;
        padding: 5px 15px;
        border-radius: 05px;
        margin-top: 15px;
        font-weight: 400;
        font-size: var(--xsmall);
      }
      .phone{
        margin-top: 15px;
        margin-bottom: -5px;
      }
      .address{
        margin-top: 10px;
      }
      .uk-flex{
        font-weight: 500;
        p:nth-child(1){
          font-size: var(--msmall);
        }
        p:nth-child(2){
          background-color: var(--color-primary);
          padding: 05px 10px;
          color: var(--color-dark-primary);
          border: 1px solid var(--color-dark-primary);
          border-radius: 10px;
          margin-top: -5px;
          margin-left: 55px;
        }
      }
    }
  }
  .section-second{
    button{
      background-color: var(--color-dark-primary);
      color: #fff;
      font-size: var(xsmall);
      font-weight: 500;
      padding: 5px 15px;
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      i{
        color: #fff;
        margin-left: 5px;
        font-size: var(--xsmall);
      }
    }
  }
}
@media only screen and (max-width: 600px){
  .container{
    .section-one{
      .details{
        .uk-flex{
          p:nth-child(2){
            padding: 10px;
          }
        }
      }
    }
  }
}