<div class="container">
  <div class="section-one">
    <div class="check-box">
    </div>
    <div class="details">
      <div class="uk-flex">
        <p>{{name}} {{last_name}}</p>
        <p>{{address_type}}</p>
      </div>
      <div class="address">{{address}}</div>
      <p class="phone">{{phone}}</p>
      <div class=""><button>Deliver Here</button></div>
    </div>
  </div>
  <div class="section-second">
    <div class="">
      <button>Edit<i class="ri-edit-circle-fill"></i></button>
    </div>
  </div>
</div>
