.cart-main{
    display: flex;
}

.cart-items{
    margin-top: 30px;
    margin-left: 70px;
    width: 58%;
    height: auto;
    border-radius: 16px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cart-items h1{
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    font-family: var(--font-one);
}

hr{
    border-top: 2px solid var(--color-secondary);
    margin-left: 25px;
    width: 93%;
    margin-bottom: 15px;
}

.cart-price{
    margin-top: 30px;
    margin-left: 50px;
    width: 29%;
    height: auto;
    border-radius: 16px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cart-price h1{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.cart-price p{
    margin-left: 25px;
    margin-top: 4px;
    margin-bottom: 20px;
    color: grey;
    font-size: 12px;
    font-weight: 600;
}

hr.new2 {
    border-top: 1px dashed grey;
    width: 87%;
  }

.price-detail{
    display: flex;
}

.price-detail h1{
    font-size: 20px;
}

.price-detail p{
    font-size: medium;
    margin-top: 10px;
    margin-bottom: -5px;
    font-weight: 500;
}

.price-detail-text{
    width: 65%;
}

.price-detail-data{
    // margin-left: 10%;
    text-align: right;
}

.pd{
    color: grey;
}

.total-price{
    display: flex;
}

.total-price p{
    font-size: 25px;
    color: black;
    font-weight: 600;
    margin-top: 20px;
    font-size: 20px;
}
.mobile-view{
    display: none;
}
#price-final{
    margin-left: 44%;
    text-align: right;
}

.proceed-btn{
    background-color: var(--color-secondary);
    color: #ffffff;
    border: none;
    width: 40%;
    height: 40px;
    border-radius: 8px;
    margin-left: 55%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
    font-size:large;
    font-weight: 450;
}

.proceed-btn:hover, .promo button:hover{
    cursor: pointer;
}

a{
    color: var(--color-secondary);
    margin-top: 8px;
    text-decoration: none;
    font-size: 15px;
}
@media only screen and (max-width: 600px){
    .cart-main{
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-top: 0;
    }
    .cart-items{
        margin: 0px;
        width: 100%;
        background-color: #FFF5FB;
        box-shadow: none;
        border: none;
    }
    .cart-items h1{
        font-size: var(--small);
        font-family: var(--font-one);
    }
    .cart-price{
        display: none;
    }
    .mobile-view{
        display: block;
        width: 100%;
        margin: 15px;
        .mobile-bill{
            background-color: #fff;
            margin-top: 5px;
            padding: 15px;
            box-shadow: var(--normal-shadow);
            border: 2px solid var(--color-dark-primary);
            border-radius: 10px;
            .uk-flex{
                justify-content: space-between;
            }
            .heading{
                p:nth-child(1){
                    font-size: var(--msmall);
                    font-weight: 500;
                }
            }
            .bill-info{
                margin-top: 15px;
                .uk-flex{
                    p:nth-child(1){
                        font-size: var(--xsmall);
                        font-weight: 450;
                    }
                    #mart{
                        margin-top: 15px;
                    }
                }
            }
        }
        .place{
            width: 95%;
            background-color: var(--color-dark-primary);
            border: none;
            border-radius: 5px;
            padding: 5px;
            display: block;
            margin: auto;
            color: #fff;
            margin-top: 15px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}