<div id="table_view">
<table>
  <tr>
    <th style="width: 13%"></th>
    <th style="width: 27%"></th>
    <th style="width: 30%"></th>
    <th style="width: 15%"></th>
    <th style="width: 15%"></th>
  </tr>

  <tr >
    <td>
      <img src="{{imgSrc}}" alt="" />
    </td>
    <td class="name_description">
      <h3 style="color: rgb(51, 232, 51)">₹ {{price}}</h3>
      <b>{{productName}}</b>
      <p>
        {{shortDescription}}
      </p>
    </td>
    <td class="customize">
      <h4><b>Metal :</b>{{metal}}</h4>
      <h4><b>Weight : </b>{{weight}}</h4>
      <h4><b> Color :</b>{{productColor}}</h4>
      <h4><b> size :</b> 4,6,7,8,10,11</h4>
      <h4><b> Purity :</b>{{purity}} %</h4>
    </td>
    <td class="ratings">
      <i class="ri-star-fill active"></i>
      <i class="ri-star-fill active"></i>
      <i class="ri-star-fill active"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
    </td>
    <td class="actions">
      <!-- <button style="background-color: #5c5c5c">
        <i class="fa-solid fa-circle-xmark"></i>Disable
      </button> -->
      <button style="background-color: #e88f9f" (click)="removeProductTrigger()">
        <i class="ri-delete-bin-3-line"></i> Delete
      </button>
      <button style="background-color: #ffd5dc">
        <i class="ri-edit-fill"></i>Edit
      </button>
    </td>
  </tr>
</table>
</div>