* {
  box-sizing: border-box;
}

#card {
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;

  img {
    border-bottom: 1px solid var(--color-tertiary);
    max-height: 300px;
    object-fit: cover;
  }

  h3 {
    color: var(--color-dark);
    font-family: var(--font-one);
    font-size: var(--xsmall);
  }

  #price {
    color: var(--color-tertiary);
  }
}
