.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--small);
    font-weight: 500;
    border: 1px solid #969696;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0px;

}