:root {
    --overlay-width: 0%;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#sidebar-container {
    position: relative;
    display: flex;
}


#sidebar-container {
    position: relative;
    display: flex;
}

#sidebar {
    background-color: var(--color-two);
    box-shadow: var(--normal-shadow);
    min-width: max(20vw, 210px);
    height: 100%;
    padding: 2em 1em;
    z-index: 1;
}

@media (max-width: 1000px) {
    #sidebar {
        position: absolute;
        top: 0;
    }
}

#hotel-name {
    font-family: var(--font-one);
    color: var(--color-five);
    margin: 0;
    margin-bottom: 1.5em;
    font-size: var(--medium);
}

#manager-name {
    font-family: var(--font-one);
    color: var(--color-three);
    margin: 0;
    font-size: var(--small);
}

#manager-email {
    font-family: var(--font-one);
    color: var(--color-six);
    margin: 0;
}

#sidebar-ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 2em;
}

.sidebar-li {
    margin-bottom: .5em;
}

.sidebar-icon {
    width: 20px;
    margin-right: .5em;
}

.sidebar-li:last-of-type {
    margin-bottom: 0;
}

.sidebar-li-a {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 7px;
    transition: all 0.5s;
    color: var(--color-three);
    text-decoration: none;
    font-size: var(--xsmall);
    font-family: var(--font-one);
}

.sidebar-li-a i {
    margin-right: 0.75em;
}


.sidebar-li-a:hover,
.active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 7px;
    background-color: var(--color-eight);
    color: var(--color-four);
}

main {
    overflow-y: auto;
    position: relative;
    width: 100%;
    background-color: var(--color-nine);
}

#toggle-button {
    color: var(--color-four);
    min-height: unset;
    margin: 1em 0.5em;
}

#overlay {
    width: var(--overlay-width);
    height: 100%;
    background-color: var(--color-two);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}