.quick-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary-dark);
    color: #fff;
    font-weight: 500;
    padding: 0px 15px;
    border-radius: 10px;

    .links {
        display: flex;

        p {
            margin-top: 12px;
            margin-right: 10px;
        }

        button {
            background-color: var(--color-secondary-darker);
            color: #fff;
            font-weight: 500;
            font-size: var(--xxsmall);
            padding: 5px;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            transition: .3s;
            margin: 5px 0px;
            margin-left: 10px;
            border-radius: 5px;
            &:hover{
                transform: scale(1.1);
            }
        }

    }

    .icons {
        margin-right: 20px;

        i {
            margin-left: 20px;
            font-size: var(--msmall);
            transition: .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
.charts{
    justify-content: space-between;
    align-items: center;
    min-height: 25rem;
    height: fit-content;
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
box-sizing: border-box;
    .chart{
        box-sizing: border-box;
        margin: 0.5rem;
        padding: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;        width: 50%;
        min-width: 30rem;
        height: 100%;
        width: 48%;
        canvas{
            height: 100%;
            width: 100%;
        }
        
       
    }
}
.boxes {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .scores {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(180.08deg, #F894A4 0.14%, #F9D1B7 94.34%);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        color: #fff;
        padding: 20px 15px;
        padding-top: 10px;
        width: 15%;
        padding-left: 15px;
        p{
            font-size: var(--xxsmall);
            margin-top: 10px;
        }
        .numbers{
            font-size: var(--large);
        }

    }

}
.container{
    display: flex;
    
}

// ............SECTION 1.............


.section1{
    width: 70%;
    margin-top: 35px;
    // .product-sales{
        .heading{
            background-color: var(--color-secondary-dark);
            color: #fff;
            padding: 10px;
            font-size: var(--small);
            font-weight: 500;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        }
        .table{
            border-radius: 10px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                text-align: left;
                padding: 8px;
              }
              .product{
                display: flex;
                align-items: center;
                img{
                    margin-right: 15px;
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                }
                .info{
                    p{
                        font-size: var(--xxsmall);
                    }
                    .product-heading{
                        font-size: var(--msmall);
                    }
                }
              }
              .material{
                border: 2px solid var(--color-secondary-darker);
                border-radius: 20px;
                font-size: var(--xxsmall);
                padding: 3px;
                background-color: #FFD5D5;
                p{
                    display: block;
                    // margin: auto;
                    text-align: center;
                    color: var(--color-secondary-darker);
                }
              }
              .quanity{
                background-color: #DEF0FF;
                border: 2px solid #3E94E0;
                p{
                    color: #3E94E0;
                }
              }
              .price{
                color: #00B986;
                font-size: var(--msmall);
              }
              .sold{
                color: #FF8F73;
                font-size: var(--msmall);
              }
              .more{
                border: none;
                background-color: var(--color-secondary-dark);
                color:#fff;
                font-size: var(--msmall);
                padding: 3px 7px;
                border-radius: 5px;
              }
        }
    // }
}



//          ......SECTION 2.......



.section2{
    width: 30%;
    margin-top: 35px;
    margin-left: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
    .heading{
        background-color: var(--color-secondary-dark);
        color: #fff;
        padding: 10px;
        font-size: var(--small);
        font-weight: 500;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        
    }
    .box{
        width: 300%;
        display: flex;
        margin-left: 5px;
    }
    .content{
        width: 30%;
        // position: relative;
    }
    .title{
        margin-top: 1em;
        display: flex;
        border-bottom: 1px solid black;
        font-size: var(--xsmall);
        
        
        
    }
    ul{
        width: 100%;
    }
    .title{
        width: 100%;
    }
    .ring-img{
    margin-left: 1em;
    width: 45px;
    height: 50px;
    object-fit: cover;

  }
  .txt{
   margin-right: 10px;
    color: #636363;
    margin-left: 0.2em;
    margin-top: .5em;
  }
  .star{
    margin-top: 10px;
    margin-left: 1em;
    color: #FB889C;
  }
  .txt1{
    margin-right: 10px;
    color: #636363;
    margin-left: 0.5em;
    margin-top: .4em;

  }
  .main-txt{
    margin-left: .8em;
  }
  button{
    margin-left: 2em;
    border: none;
    background-color: #ffffff;
    color: #F894A4;
    cursor: pointer;
  }
  .btn-i{
    margin-right: .2em;
  }
}