<div class="quick-links">
  <div class="links">
    <p>Quick Links</p>
    <button>Add Product</button>
    <button>Add Category</button>
    <button>Add Vendor</button>
    <button>Add User</button>
    <button>Add Offer</button>
  </div>
  <div class="icons">
    <i class="fa-solid fa-user"></i>
    <i
      class="fa-solid fa-bell"
      routerLink="../notification"
      style="cursor: pointer"
    ></i>
  </div>
</div>
<div class="uk-flex">
  <div class="image">
    <img src="assets/chart.png" alt="" />
  </div>
  <div class="image">
    <img src="assets/chart1.png" alt="" />
  </div>
</div>
<div class="boxes">
  <div class="scores">
    <div class="points">
      <p class="numbers">{{ orders }}</p>
      <p>Orders</p>
    </div>
    <p>See more</p>
  </div>
  <div class="scores">
    <div class="points">
      <p class="numbers">{{ orders }}</p>
      <p>Orders</p>
    </div>
    <p>See more</p>
  </div>
  <div class="scores">
    <div class="points">
      <p class="numbers">{{ orders }}</p>
      <p>Orders</p>
    </div>
    <p>See more</p>
  </div>
  <div class="scores">
    <div class="points">
      <p class="numbers">{{ orders }}</p>
      <p>Orders</p>
    </div>
    <p>See more</p>
  </div>
</div>


  <div class="section1">
    <div class="table">
      <div class="heading">
        <p>Product Sales</p>
      </div>
      <table>
        <tr>
          <th width="22%"></th>
          <th width="13%"></th>
          <th width="13%"></th>
          <th width="13%"></th>
          <th width="13%"></th>
          <th width="13%"></th>
          <th width="13%"></th>
        </tr>
        <tr *ngFor="let item of items">
          <td>
            <div class="product">
              <img src="/assets/ring1.png" alt="" />
              <div class="info">
                <p class="product-heading">{{ product_Name }}</p>
                <p>{{ product_Id }}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="material">
              <p>{{ material }}</p>
            </div>
          </td>
          <td>
            <div class="material quanity">
              <p>{{ weight }}</p>
            </div>
          </td>
          <td>
            <p class="price">{{ price }}</p>
          </td>
          <td>
            <p class="sold">Sold: {{ sold_Number }}</p>
          </td>
          <td>
            <p class="sold">Returned:{{ returned_Number }}</p>
          </td>
          <td>
            <button class="more">More Info</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
