<section>
  <h2 class="heading">Products Details</h2>
  <ul uk-tab id="tab_switch">
    <li><a href="#">Pending feedback</a></li>
    <li><a href="#">Ongoing</a></li>
    <li><a href="#">Resolved</a></li>
    <li><a href="#">Unresolved</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li class="tabs">
      <table>
        <tr>
          <th style="width: 15%">Product</th>
          <th style="width: 20%">User name</th>
          <th style="width: 30%">Review</th>
          <th style="width: 20%">Rating</th>
          <th style="width: 20%">Action</th>
        </tr>
        <tr>
          <td>
            <img
              src="../../../../assets/jewel3.png"
              alt=""
              style="width: 50px; height: 50px"
            />
          </td>
          <td><p>Customer</p></td>
          <td class="review">
            Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
            culpa ab amet sequi.
          </td>
          <td class="ratings">
            <i class="ri-star-line"></i>
            <i class="ri-star-line"></i>
            <i class="ri-star-line"></i>
            <i class="ri-star-line"></i>
            <i class="ri-star-line"></i>
          </td>
          <td class="action">
            <div class="buttons">
              <div class="button edit">
                <i class="ri-delete-bin-7-fill"></i> Delete
              </div>
              <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
            </div>
          </td>
        </tr>
        <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td class="action">
              <div class="buttons">
                <div class="button edit">
                  <i class="ri-delete-bin-7-fill"></i> Delete
                </div>
                <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td class="action">
              <div class="buttons">
                <div class="button edit">
                  <i class="ri-delete-bin-7-fill"></i> Delete
                </div>
                <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td class="action">
              <div class="buttons">
                <div class="button edit">
                  <i class="ri-delete-bin-7-fill"></i> Delete
                </div>
                <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td class="action">
              <div class="buttons">
                <div class="button edit">
                  <i class="ri-delete-bin-7-fill"></i> Delete
                </div>
                <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td class="action">
              <div class="buttons">
                <div class="button edit">
                  <i class="ri-delete-bin-7-fill"></i> Delete
                </div>
                <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
              </div>
            </td>
          </tr>
      </table>
    </li>
    <li class="tabs">
        <table>
          <tr>
            <th style="width: 15%">Product</th>
            <th style="width: 20%">User name</th>
            <th style="width: 30%">Review</th>
            <th style="width: 20%">Rating</th>
            <th style="width: 20%">Action</th>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td class="action">
              <div class="buttons">
                <div class="button edit">
                  <i class="ri-delete-bin-7-fill"></i> Delete
                </div>
                <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
              </div>
            </td>
          </tr>
          <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
        </table>
      </li>
      <li class="tabs">
        <table>
          <tr>
            <th style="width: 15%">Product</th>
            <th style="width: 20%">User name</th>
            <th style="width: 30%">Review</th>
            <th style="width: 20%">Rating</th>
            <th style="width: 20%">Action</th>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td class="action">
              <div class="buttons">
                <div class="button edit">
                  <i class="ri-delete-bin-7-fill"></i> Delete
                </div>
                <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
              </div>
            </td>
          </tr>
          <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
        </table>
      </li>
      <li class="tabs">
        <table>
          <tr>
            <th style="width: 15%">Product</th>
            <th style="width: 20%">User name</th>
            <th style="width: 30%">Review</th>
            <th style="width: 20%">Rating</th>
            <th style="width: 20%">Action</th>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td class="action">
              <div class="buttons">
                <div class="button edit">
                  <i class="ri-delete-bin-7-fill"></i> Delete
                </div>
                <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
              </div>
            </td>
          </tr>
          <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../../../assets/jewel3.png"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><p>Customer</p></td>
              <td class="review">
                Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
                culpa ab amet sequi.
              </td>
              <td class="ratings">
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
                <i class="ri-star-line"></i>
              </td>
              <td class="action">
                <div class="buttons">
                  <div class="button edit">
                    <i class="ri-delete-bin-7-fill"></i> Delete
                  </div>
                  <div class="button delete"><i class="ri-edit-fill"></i> Edit</div>
                </div>
              </td>
            </tr>
        </table>
      </li>
  </ul>
</section>
