<main>
    <div id="add-product-modal" uk-modal>
        <div class=" uk-modal-body">
            <div class="modal_header">
                <h2>Add Product</h2>
                <i class="ri-close-circle-line" uk-toggle="target: #add-product-modal"></i>
            </div>
            <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
                <mat-stepper>
                    <mat-step>
                        <ng-template matStepLabel></ng-template>

                        <div class="form-box">
                            <label for="plan-name-input">Product Name *</label>
                            <input type="text" formControlName="productName" id="plan-name-input" />
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Product Code *</label>
                            <input type="text" formControlName="productCode" id="plan-name-input" />
                        </div>



                        <div class="form-box">
                            <label for="plan-name-input"> Country Of Origin *</label>
                            <input type="text" formControlName="countryOfOrigin" id="plan-name-input" />
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Product Description *</label>
                            <input type="text" id="plan-name-input" formControlName="description" />
                        </div>
                        <div class="form-box">
                            <label for="plan-name-input"> Short Description *</label>
                            <input type="email" id="plan-name-input" formControlName="shortDescription" />
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> SEO Description * </label>
                            <input type="text" id="plan-name-input" formControlName="seoDescription" />
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Display Price *</label>
                            <input type="text" id="plan-name-input" formControlName="price" />
                        </div>

                        <div class="buttons">
                            <button matStepperNext>
                                Next <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel></ng-template>



                        <div class="form-box">
                            <label for="plan-name-input"> weight *</label>
                            <input type="number" id="plan-name-input " formControlName="baseWeight" />
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Height *</label>
                            <input type="text" id="plan-name-input" formControlName="height" />
                        </div>
                        <div class="form-box">
                            <label for="plan-name-input"> Width*</label>
                            <input type="text" id="plan-name-input" formControlName="width" />
                        </div>


                        <div class="form-box">
                            <label for="plan-name-input"> Product Purity*</label>
                            <select name="" id="" class="number" formControlName="purity">
                                <option value="90%">90%</option>
                                <option value="70%">70%</option>
                                <option value="40%">40%</option>
                                <option value="10%">10%</option>
                            </select>
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Product Colour*</label>
                            <select name="" id="" class="number" formControlName="productColor">
                                <option value="Golden">Golden</option>
                                <option value="Pink">Pink</option>
                                <option value="Ruby">Ruby</option>
                                <option value="Silver">Silver</option>
                            </select>
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Product Metal</label>
                            <select name="" id="" class="number" formControlName="metal">
                                <option value="Golden">Golden</option>
                                <option value="Silver">Silver</option>
                                <option value="Diamond">Diamond</option>
                                <option value="Platinum">Platinum</option>
                            </select>
                        </div>


                        <div class="buttons">
                            <button matStepperPrevious>
                                <i class="fa-solid fa-angle-left" style="margin-right: 0.3rem"> </i>Back
                            </button>
                            <button matStepperNext>
                                Next <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel></ng-template>

                        <div class="form-box">
                            <label for="plan-name-input"> Vendor Name *</label>
                            <select name="" id="" class="number" formControlName="vendorName">
                                <option value="Mohon Seth">Mohon Seth</option>
                                <option value="Pablo escort">Pablo escort</option>
                                <option value="Mark">Mark</option>
                                <option value="Petter Griffins">Petter Griffins</option>
                            </select>
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Vendor ID*</label>
                            <input type="text" id="plan-name-input" formControlName="vendorID" />
                        </div>
                        <div class="form-box">
                            <label for="plan-name-input"> Vendor Email *</label>
                            <input type="email" id="plan-name-input" formControlName="vendorEmail" />
                        </div>


                        <div class="form-box">
                            <label for="plan-name-input"> Discount *</label>
                            <input type="number" id="plan-name-input" class="number" formControlName="discount" />
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Select Category*</label>
                            <select name="" id="" class="number" formControlName="jewelleryName">
                                <option value="Bangles">Bangles</option>
                                <option value="Bracelets">Bracelets</option>
                                <option value="Earrings">Earrings</option>
                                <option value="Gold Chains">Gold Chains</option>
                                <option value="Gold Coins">Gold Coins</option>
                                <option value="Kadas">Kadas</option>
                                <option value="Mangalsutras">Mangalsutras</option>
                                <option value="MangalsutraBracelets">Mangalsutra Bracelets</option>
                                <option value="MangalsutraChain">Mangalsutra Chains</option>
                                <option value="Necklaces">Necklaces</option>
                                <option value="NosePins">Nose Pins</option>
                            </select>
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Select Category*</label>
                            <select name="" id="" class="number" formControlName="category">
                                <option value="Bangles">Bangles</option>
                                <option value="Bracelets">Bracelets</option>
                                <option value="Earrings">Earrings</option>
                                <option value="Gold Chains">Gold Chains</option>
                                <option value="Gold Coins">Gold Coins</option>
                                <option value="Kadas">Kadas</option>
                                <option value="Mangalsutras">Mangalsutras</option>
                                <option value="MangalsutraBracelets">Mangalsutra Bracelets</option>
                                <option value="MangalsutraChain">Mangalsutra Chains</option>
                                <option value="Necklaces">Necklaces</option>
                                <option value="NosePins">Nose Pins</option>
                            </select>
                        </div>

                        <div class="form-box">
                            <label for="plan-name-input"> Add Image/videos *</label>
                            <div class="images">
                                <div class="img">
                                    <input type="file" (change)="file = $event" id="" formControlName="imgSrc">
                                    <i class="ri-add-line"></i>
                                </div>
                            </div>
                        </div>

                        <div class="buttons">
                            <button matStepperPrevious>
                                <i class="fa-solid fa-angle-left" style="margin-right: 0.3rem"> </i>Back
                            </button>
                            <button id="submit-button" type="submit" (click)="uploadFile(file.files)" matStepperNext
                                uk-toggle="target: #add-product-modal">
                                Add +
                            </button>
                        </div>
                    </mat-step>
                </mat-stepper>
            </form>
        </div>
    </div>
</main>