<div class="container-fluid">
  <!-- <section class="productDescription">
    <div class="imagesContainer">
      <div class="list">
        <div class="images">
          <img [src]="image" *ngFor="let image of product.images; let i = index" (click)="currentImageIndex = i" />
        </div>
        <div class="carets">
          <button [disabled]="currentImageIndex == 0" (click)="currentImageIndex = currentImageIndex - 1">
            <i class="ri-arrow-left-s-fill"></i>
          </button>
          <button [disabled]="currentImageIndex == product.images.length - 1"
            (click)="currentImageIndex = currentImageIndex + 1">
            <i class="ri-arrow-right-s-fill"></i>
          </button>
        </div>
      </div>
      <div class="main">
        <img [src]="product.images[currentImageIndex]" />
      </div>
    </div>
    <div class="detail">
      <div class="head">
        <h1>{{ product.name }}</h1>
        <div class="heart">
          <i [class]="{
              'fa-heart': true,
              'fa-regular': !liked,
              'fa-solid': liked
            }" (click)="liked = !liked"></i>
        </div>
      </div>
      <p id="item-name-desc">{{ product.description }}</p>
      <hr />
      <div class="options">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select placeholder="Metal Purity" name="metal">
            <mat-option *ngFor="let metal of product.metalPurityTypes" [value]="metal">
              {{ metal.purity }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Diamond</mat-label>
          <mat-select placeholder="Metal Purity" name="metal">
            <mat-option *ngFor="let metal of product.diamondTypes" [value]="metal">
              {{ metal.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Size</mat-label>
          <mat-select placeholder="Metal Purity" name="metal">
            <mat-option *ngFor="let metal of product.sizeTypes" [value]="metal">
              {{ metal.size }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pincode</mat-label>
          <input matInput #pincode />
          <span matTextPrefix><i class="ri-map-pin-fill"></i></span>
        </mat-form-field>
        <div class="quantity">
          <p>Quantity : </p>
          <button [disabled]="quantity == 1" (click)="quantity = quantity - 1">
            <i class="ri-subtract-fill"></i>
          </button>
          <input type="number" [(ngModel)]="quantity" [ngModelOptions]="{ standalone: true }" type="text" />
          <button (click)="quantity = quantity + 1">
            <i class="ri-add-fill"></i>
          </button>
        </div>

      </div>
      <hr />
      <section class="pricing">
        <div class="left-pricing">
          <h2>
            {{
            (product.configuredPrice
            ? product.configuredPrice
            : product.price) * quantity | currency : "INR" : "symbol-narrow"
            }}
          </h2>
          <p id="item-name-mrp">(MRP Incl of all taxes)</p>
        </div>
        <div class="rigth-pricing">
          <p id="item-name-green">20% off on making charge</p>
          <p id="item-name-pin">
            Delivery By Today Evening <span> 14th Jul</span> for Pincode
            {{ pincode.value ? pincode.value : "211019" }}
          </p>
        </div>
      </section>
      <hr />
      <div class="actions">
        <button id="cart-but" routerLink="../cart">Add To Cart</button>
        <button id="buy-btn" routerLink="../choose-delivery-address">Buy Now</button>
      </div>

    </div>
  </section> -->
  <!-- <section class="othorization">
    <div class="sub-oth-content">
      <img src="../../../assets/badge-1.png" alt="">
      <h4 id="sub-oth-content-desc">BIS 100% Hallmarked Jewellery</h4>
    </div>
    <div class="sub-oth-content">
      <img src="../../../assets/badge-2.png" alt="" id="img-igi">
      <h4 id="sub-oth-content-desc">Certified By IGI</h4>
    </div>
    <div class="sub-oth-content">
      <img src="../../../assets/badge-3.png" alt="" id="img-sgl">
      <h4 id="sub-oth-content-desc">Certified By SGL</h4>
    </div>
  </section> -->
  <!-- <section class="productDetails">




<section class="itemDescription">
  <div class="itemDescriptionGrid">
    <div class="itemDescriptionBox1">
      <ul uk-tab>
        <li><a href="#">Description</a></li>
        <li><a href="#">Details</a></li>

    </ul>

    <ul class="uk-switcher uk-margin">
        <li>
          <p class="descriptionText1">Meet the earring set you didn't know you needed... until now. We're obsessed with this combo,aren't you? Featuring two best-selling earrings,
            this effortless and unique earring stack isguaranteed to elevate your everyday.</p>

          <p class="descriptionText2">Also Available</p>
             <div class="availableItems">
              <div><img src="../../../assets/product-page/Ellipse 3909.png" alt="Gold">
              <p>Gold</p>
              </div>
              <div><img src="../../../assets/product-page/Ellipse 3910.png" alt="Silver">
              <p>Silver</p>
              </div>
             </div>
          <div class="badges">
            <p><img src="../../../assets/product-page/fluent_archive-arrow-back-16-regular.svg" alt="" class="badgesImg">30 -Day Money Back</p>
            <p>
              <img src="../../../assets/product-page/uil_exchange.svg" alt="" class="badgesImg">Lifetime Exchange & Buy-Back
            </p>
            <p>
              <img src="../../../assets/product-page/Mask group.png" alt="" class="badgesImg">
              100% Naaysa Certified
            </p>
          </div>

          </li>
        <li>
          <h2 class="subHeading">Product Details</h2>
          <p class="subText">Diamond Ring 18Kt Gold(5.68 gram) with Diamond(0.4130 Ct)</p>
          <div class="productDetail">
            <div>
              <img src="../../../assets/product-page/Purity.png" alt="" class="detailImg">
              <h3>Purity</h3>
                    <h5>18 KT</h5>
            </div>
            <div>
              <img src="../../../assets/product-page/dimensions (2).png" alt="" class="detailImg">
              <h3>Dimensions</h3>
                    <h5>Width - 5 mm</h5>
                    <h5>Height - 5.5 mm</h5>
                    <h5>Size - 12(51.8 mm)</h5>
            </div>
            <div>
              <img src="../../../assets/product-page/weight (2).png" alt="" class="detailImg">
              <h3>Weight</h3>
              <h5>Gross - 2.40 g</h5>
            </div>
          </div>
           </li>
        </ul>
    </div>

    <div class="imageGroup">
      <img src="../../../assets/product-page/Rectangle 3463920.jpg" alt="img1" srcset=""class="imageGroup1">
      <img src="../../../assets/product-page/Rectangle 3463919.jpg" alt="img 2" srcset=""class="imageGroup2">
    </div>
  </div>

</section>

<section class="priceBreakUp ">
  <div class="head">

      <h2>price Breakup</h2>
      <p (click)="showPrice()" *ngIf="!hiddenPrice">Show more <img src="../../../assets/product-page/arrow-down-s-line.png" alt=""></p>

      <p (click)="showPrice()" *ngIf="hiddenPrice">Show less <img src="../../../assets/product-page/arrow-down.png" alt=""></p>


  </div>
  <div class="priceTable" *ngIf="hiddenPrice">
    <table class="uk-table">
      <thead>
          <tr class="bottomBorder">
              <th>COMPONENT</th>
              <th>RATE</th>
              <th>WEIGHT</th>
              <th>VALUE</th>
              <th>FINAL VALUE</th>
          </tr>
      </thead>
      <tbody>
        <p class="pinkSubText">Gold</p>
          <tr>
              <td>18KT Yellow Gold</td>
              <td>₹4,520 / g</td>
              <td>5.530 g</td>
              <td>₹24,996</td>
              <td>₹24,996</td>
          </tr>
          <tr>
              <td>Total Gold Value</td>
              <td>-</td>
              <td>-</td>
              <td>₹24,996</td>
              <td>₹24,996</td>
          </tr>

          <p class="pinkSubText">Diamond</p>
          <tr>
              <td>GH-SI Round-13 Nos.</td>
              <td>-</td>
              <td>0.070 ct</td>
              <td>₹9,380</td>
              <td>₹7,504 <small class="smallText">₹9,380</small></td>
          </tr>
          <tr>
              <td>Total Diamond Value</td>
              <td>-</td>
              <td>-</td>
              <td>₹9,380</td>
              <td>₹7,504 <small class="smallText">₹9,380</small></td>
          </tr>
          <tr class="bottomBorder">
            <td>Making Charges</td>
            <td>-</td>
            <td>-</td>
            <td>₹15,180</td>
            <td>₹15,180</td>
        </tr>
        <tr>
          <td>Subtotal</td>
          <td>-</td>
          <td>-</td>
          <td>₹49,556</td>
          <td>₹47,680 <small class="smallText">₹49,556</small></td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>-</td>
        <td>-</td>
        <td>₹1,487</td>
        <td>₹1,430 <small class="smallText">₹1,487</small></td>
    </tr>
    <tr>
      <td>GRAND TOTAL</td>
      <td>-</td>
      <td>-</td>
      <td>₹51,043</td>
      <td>₹49,110
        <br>
        <small class="mrp">(MRP Incl. of all taxes)</small>
      </td>

  </tr>

      </tbody>

  </table>
  </div>


</section>







  <section class="productDetails">
    <div class="head">
      <h2>Product Details</h2>
    </div>
    <main>
      <ol>
        <h3>Product Information</h3>
        <li>Product Code : <strong> 15464-FDS1 </strong></li>
        <li>Height : <strong> 24.7mm</strong></li>
        <li>Width : <strong> 20.4mm</strong></li>
        <li>Product Weight : <strong> 5.76 gram</strong></li>
        <li>Country Origin : <strong> India</strong></li>
      </ol>
      <ol>
        <h3>Diamond Details</h3>
        <li>Diamond Type : <strong> IJ-SI </strong></li>
        <li>Setting Type : <strong> Split Prong</strong></li>
        <li>Total Weight : <strong> 0.087 ct</strong></li>
        <li>Total Number : <strong> 18</strong></li>
      </ol>
      <ol>
        <h3>Metal Details</h3>
        <li>Metal Type : <strong> IJ-SI </strong></li>
        <li>Setting Type : <strong> Split Prong</strong></li>
        <li>Total Weight : <strong> 0.087 ct</strong></li>
        <li>Total Number : <strong> 18</strong></li>
      </ol>
      <ol>
        <h3>Price Breakup</h3>
        <li>Gold : <strong> Rs. 22,447/-</strong></li>
        <li>Diamond : <strong> Rs. 40,515/-</strong></li>
        <li>30% off on Making Charge : <strong> Rs. 9,065/-</strong></li>
        <li>GST : <strong> Rs. 2,161/-</strong></li>
        <li>Total : <strong> Rs. 74,187/-</strong></li>
      </ol>
    </main>
  </section> -->
  <app-customer-review></app-customer-review>
  <img src="assets/banner.png" alt="Banner" />
  <!-- Reviews -->
  <app-based-on-history></app-based-on-history>

  <div id="history">
    <h1>Shop By Product</h1>
    <div class="uk-position-relative uk-visible-toggle uk-light sliderParent" tabindex="-1" uk-slider>
      <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-5@m">
        <li>
          <img class="sliderImages" src="assets/images/slider (1).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">All Rings</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (2).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">All Necklaces</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (3).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">All Bangles</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (4).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">Jewels</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (5).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">Chains</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (1).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">Rings</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (2).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">Necklaces</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (3).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">Bangles</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (4).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">Jewels</p>
          </div>
        </li>
        <li>
          <img class="sliderImages" src="assets/images/slider (5).png" width="400" height="600" alt="" />
          <div class="imageDesc">
            <p id="item-name">Chains</p>
          </div>
        </li>
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slider-item="next"></a>
    </div>
  </div>
  <!-- <img src="assets/section.png" alt="" /> -->
  <section id="moreFeatures">
    <div class="sub-section">
      <h2>More 18K Earrings</h2>
      <div class="sub-section-images">
        <img src="../../../assets/moreimg1.png" alt="Earrings Images" id="sub-img">
        <img src="../../../assets/moreimg2.png" alt="Earrings Images" id="sub-img">
        <img src="../../../assets/moreimg3.png" alt="Earrings Images" id="sub-img">
      </div>
    </div>
    <div class="sub-section">
      <h2>More Yellow Gold Earrings</h2>
      <div class="sub-section-images">
        <img src="../../../assets/moreimg4.png" alt="Earrings Images" id="sub-img">
        <img src="../../../assets/moreimg5.png" alt="Earrings Images" id="sub-img">
        <img src="../../../assets/moreimg6.png" alt="Earrings Images" id="sub-img">
      </div>
    </div>
  </section>

  <!-- <section class="revs_sect">
    <section class="cust_revs">
      <h2>Customer Reviews</h2>
      <h4>659 ratings and 120 reviews</h4>
      <div>
        <i _ngcontent-kkx-c115="" class="fa-solid fa-star"></i>
        <i _ngcontent-kkx-c115="" class="fa-solid fa-star"></i>
        <i _ngcontent-kkx-c115="" class="fa-solid fa-star"></i>
        <i _ngcontent-kkx-c115="" class="fa-solid fa-star"></i>
        <i _ngcontent-kkx-c115="" class="fa-solid fa-star"></i>
        <span>4.5 Out Of 5</span>
      </div>
    </section>
    <div class="parent-reviews">
      <h2>Customer Reviews With Images</h2>
      <div class="reviews" *ngFor="let review of reviews">
        <div class="parent">
          <div class="profile">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <p id="item-name" >{{ reviewer_Name }}</p>
          </div>
          <div class="images">
            <img src="assets/2.jpeg" alt="" />
            <img src="assets/2.jpeg" alt="" />
            <img src="assets/2.jpeg" alt="" />
            <img src="assets/2.jpeg" alt="" />
            <img src="assets/2.jpeg" alt="" />
            <img src="assets/2.jpeg" alt="" />
            <img src="assets/2.jpeg" alt="" />
          </div>
        </div>
        <p id="name">{{ jewel_name }}</p>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p id="item-name" >{{ review_Disc }}</p>
        <div class="like-dislike">
          <i class="fa-solid fa-thumbs-up"></i>|<i
            class="fa-solid fa-thumbs-down"
          ></i>
        </div>
      </div>
    </div>
  </section> -->
</div>

<app-footer></app-footer>