.container{
    margin: 15px;
    border: 1px solid #969696;
    border-radius: 10px;
    box-shadow: 1px 1px 06px -1px #969696;
    .box{
        padding: 15px;
        border-radius: 10px;
        font-size: var(--small);
        display: flex;
        background-color: var(--color-secondary);
        color: #fff;
        font-weight: 400;
        i{
            margin-right: 15px;
        }
    }
    .add{
        background-color: var(--color-primary);
        color: var(--color-dark-primary);
        border: none;
        padding: 5px;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 15px;
        margin-top: 05px;
        border: 1px solid var(--color-dark-primary);
        font-size: var(--xsmall);
        cursor: pointer;
    }
}