@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500;600&display=swap');

:root {
  --ref-color: #ffe4e1;
  --color-primary: #ffe4e1;
  --color-secondary: #ee93a3;
  --color-secondary-light: #fcd4db;
  --color-secondary-lighter: #fde7eb;
  --color-secondary-dark: #ffa8a8;
  --color-secondary-darker: #ff9292;
  --color-tertiary: #bb6878;
  --color-four: #949494;
  --color-dark: grey;
  --color-light: #ffffff;
  --color-light-text: grey00081;
  --color-primary-light: #f4c7cf6c;
  --color-gold: #f9dcc7;
  --color-gold-light: #f9dcc769;
  --color-dark-primary: #e88f9f;
  --color-light-primary: #fff5fb;
  --color-success: #309e7d;
  --color-primary-contrast: #000;
  
--color-button:#FAE4E8;

  --font-six: "Andada Pro", sans-serif;
  --font-one: "Poppins", sans-serif;
  --font-two: "Great Vibes";
  --font-three: "Philosopher", sans-serif;
  --font-four: "Questrial", sans-serif;
  --font-five: "Noto Sans", sans-serif;

  --xxlarge: 36px;
  --xlarge: 32px;
  --large: 28px;
  --medium: 24px;
  --small: 20px;
  --msmall: 18px;
  --xsmall: 16px;
  --xxsmall: 14px;

  --normal-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--font-three);
  font-size: var(--medium);

  img {
    width: 50px;
    margin: 0 0.25em;
  }

  span:nth-child(1) {
    color: var(--color-tertiary);
  }
}

.primary-button {
  padding: 0.25em 0.5em;
  background-color: var(--color-secondary);
  color: #fff;
  border: none;
  font-size: var(--msmall);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
  outline: none;

  span {
    font-weight: bold;
  }

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.navigation {
  li {
    a {
      color: red !important;
    }
  }
}

.widgets {
  display: grid;
  grid-template:
    auto
    / auto auto auto auto;
  grid-gap: 05%;
}
