
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');


:root{
 --color-primary:#F4C7CF;
 --color-secondary:#EE93A3;
--color-dark:#000000;
--color-light:#ffffff; 
--color-light-text:#00000081; 
--color-primary-light:#f4c7cf6c;
--font:'poppins';
}