@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --color-primary: #F4C7CF;
    --color-secondary: #EE93A3;
    --color-tertiary: #BB6878;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-light-text: #00000081;
    --color-primary-light: #f4c7cf6c;
    --color-gold: #F9DCC7;
    --color-gold-light: #FAF2ED;
    --color-dark-primary: #E88F9F;
    --coloryr-light-primary: #FFF5FB;
    --color-success:#309E7D;

    --font: 'poppins', sans-serif;
    --font2: 'Great Vibes';
    --font3:'Philosopher', sans-serif;
    --font4:'Questrial', sans-serif;

    --xxlarge: 36px;
    --xlarge: 32px;
    --large: 28px;
    --medium: 24px;
    --small: 20px;
    --msmall: 18px;
    --xsmall: 16px;
    --xxsmall: 14px;
}
.primary-button{
    padding: 5px 40px;
    background-color: var(--color-dark-primary);
    color: #fff;
    border: none;
    font-size: var(--small);
    border-radius: 10px;
    cursor: pointer;
    span{
        font-weight: bold;
    }
}