<div class="container">
    <div class="sort-and-filter">
        <div class="button">
            <select name="cars">
                <option value="">Sort</option>
                <option value="volvo">Newest Arrival</option>
                <option value="saab">Price : High to Low</option>
                <option value="opel">Price : Low to High</option>
                <option value="audi">Avg. Customer Review</option>
                <option value="audi">Popular</option>
                <option value="audi">Discount</option>
            </select>
        </div>
        <div class="button">
            <select name="cars">
                <option value="">Filter</option>
                <option value="volvo">Earings</option>
                <option value="saab">Rings</option>
                <option value="opel">Bangles</option>
                <option value="audi">Jhumkas</option>
            </select>
        </div>
    </div>
    <!-- <p data-aos="fade-right" data-aos-delay="500">Trending</p>
    <div class="widgets">
        <app-product-widget *ngFor="let trendingProducts of trendingProducts" navigateUrl="{{trendingProducts.productName}}" product_name="{{trendingProducts.productName}}" src="{{trendingProducts.imgSrc}}" price="{{trendingProducts.price}}" purity="{{trendingProducts.purity}}" category="{{trendingProducts.category}}" jewellery_Name="{{trendingProducts.jewelleryName}}" discount="{{trendingProducts.discount}}" ></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Necklace</p>
    <div class="widgets">
        <app-product-widget *ngFor="let NecklaceProducts of NecklaceProducts" navigateUrl="{{NecklaceProducts.productName}}" product_name="{{NecklaceProducts.productName}}" src="{{NecklaceProducts.imgSrc}}" price="{{NecklaceProducts.price}}" purity="{{NecklaceProducts.purity}}" category="{{NecklaceProducts.category}}" jewellery_Name="{{NecklaceProducts.jewelleryName}}" discount="{{NecklaceProducts.discount}}" ></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Rings</p>
    <div class="widgets">
        <app-product-widget *ngFor="let RingsProducts of RingsProducts" navigateUrl="{{RingsProducts.productName}}" product_name="{{RingsProducts.productName}}" src="{{RingsProducts.imgSrc}}" price="{{RingsProducts.price}}" purity="{{RingsProducts.purity}}" category="{{RingsProducts.category}}" jewellery_Name="{{RingsProducts.jewelleryName}}" discount="{{RingsProducts.discount}}"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Bands</p>
    <div class="widgets">
        <app-product-widget *ngFor="let BandsProducts of BandsProducts" navigateUrl="{{BandsProducts.productName}}" product_name="{{BandsProducts.productName}}" src="{{BandsProducts.imgSrc}}" price="{{BandsProducts.price}}" purity="{{BandsProducts.purity}}" category="{{BandsProducts.category}}" jewellery_Name="{{BandsProducts.jewelleryName}}" discount="{{BandsProducts.discount}}"></app-product-widget>
    </div> -->
    <div *ngFor="let category of categories">
        <p data-aos="fade-right" data-aos-delay="500">{{category.title}}</p>
        <div class="widgets">
            <ng-container *ngFor="let product of products">
                <app-product-widget  *ngIf="category.title === product.category"
                [navigateUrl]="'../product/'+product.id" [product_name]="product.productName"
                [src]="product.imgSrc" [price]="product.price"
                [purity]="product.purity" [category]="product.category"
                [jewellery_Name]="product.jewelleryName" [discount]="product.discount">
                </app-product-widget>
            </ng-container>
        </div>
    </div>


</div>