<app-header></app-header>
<div class="container">
    <p data-aos="fade-right" data-aos-delay="500">Trending</p>
    <div class="widgets">
        <app-product-widget src="jewel1.png"></app-product-widget>
        <app-product-widget src="jewel2.png"></app-product-widget>
        <app-product-widget src="jewel3.png"></app-product-widget>
        <app-product-widget src="jewel4.png"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Necklace</p>
    <div class="widgets">
        <app-product-widget src="jewel2.png"></app-product-widget>
        <app-product-widget src="jewel2.png"></app-product-widget>
        <app-product-widget src="jewel2.png"></app-product-widget>
        <app-product-widget src="jewel2.png"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Rings</p>
    <div class="widgets">
        <app-product-widget></app-product-widget>
        <app-product-widget src="jewel3.png"></app-product-widget>
        <app-product-widget></app-product-widget>
        <app-product-widget src="jewel3.png"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Bands</p>
    <div class="widgets">
        <app-product-widget src="jewel1.png"></app-product-widget>
        <app-product-widget src="jewel1.png"></app-product-widget>
        <app-product-widget src="jewel1.png"></app-product-widget>
        <app-product-widget src="jewel1.png"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Ear Rings</p>
    <div class="widgets">
        <app-product-widget src="jewel4.png"></app-product-widget>
        <app-product-widget src="jewel4.png"></app-product-widget>
        <app-product-widget src="jewel4.png"></app-product-widget>
        <app-product-widget src="jewel4.png"></app-product-widget>
    </div>

</div>