
<div class="container">
    <div class="sort-and-filter">
        <div class="button">
            <select name="cars">
                <option value="">Sort</option>
              <option value="volvo">Newest Arrival</option>
              <option value="saab">Price : High to Low</option>
              <option value="opel">Price : Low to High</option>
              <option value="audi">Avg. Customer Review</option>
              <option value="audi">Popular</option>
              <option value="audi">Discount</option>
            </select>  
        </div> 
        <div class="button">
            <select name="cars">
                <option value="">Filter</option>
              <option value="volvo">Earings</option>
              <option value="saab">Rings</option>
              <option value="opel">Bangles</option>
              <option value="audi">Jhumkas</option>
            </select>  
        </div> 
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Trending</p>
    <div class="widgets">
        <app-product-widget src="jewel1.png"></app-product-widget>
        <app-product-widget src="jewel2.png"></app-product-widget>
        <app-product-widget src="jewel3.png"></app-product-widget>
        <app-product-widget src="jewel4.png"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Necklace</p>
    <div class="widgets">
        <app-product-widget src="jewel2.png"></app-product-widget>
        <app-product-widget src="jewel2.png"></app-product-widget>
        <app-product-widget src="jewel2.png"></app-product-widget>
        <app-product-widget src="jewel2.png"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Rings</p>
    <div class="widgets">
        <app-product-widget></app-product-widget>
        <app-product-widget src="jewel3.png"></app-product-widget>
        <app-product-widget></app-product-widget>
        <app-product-widget src="jewel3.png"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Bands</p>
    <div class="widgets">
        <app-product-widget src="jewel1.png"></app-product-widget>
        <app-product-widget src="jewel1.png"></app-product-widget>
        <app-product-widget src="jewel1.png"></app-product-widget>
        <app-product-widget src="jewel1.png"></app-product-widget>
    </div>
    <p data-aos="fade-right" data-aos-delay="500">Ear Rings</p>
    <div class="widgets">
        <app-product-widget src="jewel4.png"></app-product-widget>
        <app-product-widget src="jewel4.png"></app-product-widget>
        <app-product-widget src="jewel4.png"></app-product-widget>
        <app-product-widget src="jewel4.png"></app-product-widget>
    </div>

</div>